//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue
//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}


//MEDIA QUERIES//////////////////////////////////////////////////////////
@media (max-width: 1200px) {
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				width: 50%;
			}
			.customer {
				width: 70%;
			}
		}
	}
	.benefits-circle {
		display: block !important;
		margin-left: auto;
		margin-right: auto;
	}
	.benefits {
		text-align: center;
		h1 {
			padding-left: 0 !important;
			display: block;
			text-align: center;
		}
		h2 {
			padding-bottom: 15px;
		}
		p {
			padding-bottom: 10px;
		}
		img {
			margin: 0 auto;
		}
		.benefits-inner {
			text-align: center;
			i {
				display: block;
			}
		}
	}
	.features {
		.features-inner {
			h2 {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.profiles {
		.profiles-inner {
			h2 {
				padding-left: 0;
				padding-right: 0;
				padding-top: 20px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.profile-select {
		h1 {
			font-size: 1.2em !important;
		}
		h2 {
			padding: 0 30px 0 30px !important;
		}
		.line {
			display: none;
		}
	}
	.features { 
		.line {
			display: none;
		}
		.features-slider {
			display: none;
		}
		.features-inner {
			.one-platform-icon, .flexible-reporting-icon, .analytics-icon, .project-tracking-icon {
				cursor: default !important;
			}
			.one-platform-icon:hover {
				cursor: default !important;
		 		display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/onePlatform.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    		-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.flexible-reporting-icon:hover {
				cursor: default !important;
		 		display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/flexibleReporting.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    		-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.analytics-icon:hover {
				cursor: default !important;
				display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/analytics.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
			    -mox-box-shadow: 0px 0px 0px 0px $colour2;
			    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
			    box-shadow: 0px 0px 0px 0px $colour2;
			}
			.project-tracking-icon:hover {
				cursor: default !important;
		 		display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/projectTracking.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
			    -mox-box-shadow: 0px 0px 0px 0px $colour2;
			    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
			    box-shadow: 0px 0px 0px 0px $colour2;
			}
			.one-platform-icon-selected {
			    display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/onePlatform.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.flexible-reporting-icon-selected {
	   	    	display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/flexibleReporting.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.analytics-icon-selected {
	   	    	display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/analytics.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.project-tracking-icon-selected {
	    	    display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/projectTracking.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
		}
	}
}

@media (max-width: 992px) {
	.customers-inner {
		.customer-logos {
			text-align: center;
		}
	}
	.top-banner {
		.top-banner-inner-left {
			text-align: center;
			h1 {
				text-align: left;
			}
			h2 {
				text-align: left;
			}
			.ghost-button {
	  			margin-right: 30px;
	  			margin-left: 30px;
			}
		}
	}
	footer {
		.footer-brand {
			text-align: center;
			.ed-logo {
				width: 400px;
			}
		}
		.footer-menu-links {
			padding: 0;
			padding-top: 20px;
			text-align: center;
			ul {
				list-style:none;
    			padding-left:0;
			}
		}
		.footer-contact {
			text-align: center;
			margin: 0;
			p {
				color: #558e28;
			}
			#phone {
				display: none;
			}
			#address {
				display: none;
			}
			#email {
				display: none;
			}
			#email-text {
				padding-top: 0px;
			}
		}
	}
}

@media (max-width: 991px) {
	.ideal {
		margin-top: 20px;
	}
	.map {
		margin-bottom: 15px;
	}
	.blog-side {
		text-align: left !important;
		padding-bottom: 40px !important;
	}
	.blog-main {
		padding-bottom: 20px !important;

	}
}

@media (min-width: 768px) and (max-width: 1020px) {
	.EnergyDeck-logo {
		width: 100px;
		height: auto;
	}
	.navbar-brand {
		padding-top: 16px;
	}
}

@media (max-width: 768px) {
	.navbar-sign-up {
		margin-left: 10px;
	}
	.navbar-log-in {
		margin-right: 0px;
		margin-left: 20px;
	}
}

@media (max-width: 767px) {
	.awards {
		.img-responsive {
			padding-top: 20px;
		}
	}
	.the-team {
		.team-copy {
			padding-left: 40px !important;
			padding-right: 40px !important;
		}
	}
	.calculator {
		display: none;
	}
	#pricingFooter {
		margin-bottom: 110px;
	}
}

@media (max-width: 750px) {
	.customers-inner {
		.customer-logos {
			img {
				width: 40px;
				height: auto;
			}
		}
	}
	footer {
		.ed-logo {
			width: 50% !important;
		}
	}
	.top-banner-inner-left {
		h1 {
			font-size: 3.5em !important;
		}
	}
}

@media (max-width: 650px) {
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				width: 50%;
			}
			.customer {
				width: 60%;
			}
		}
	}
	.profile-pricing-owner {
		display: block !important;
	}
	.profile-pricing-service-provider {
		display: block !important;
	}
	.pricing-heading {
		text-align: center;
		h1 {
			padding: 0 !important;
			margin-bottom: 20px !important;
			margin-top: 20px !important;
			bottom: 0 !important;
		}
		hr {
			margin-top: 0 !important;
		}
	}
}

@media (max-width: 550px) {
	.profile-select {
		h1 {
			padding-bottom: 0 !important;
		}
		h2 {
			display: none;
		}
	}
}

@media (max-width: 460px) {
	.top-banner {
		padding-top: 30px;
		padding-bottom: 0px;
		h1 {
			margin-top: 30px !important;
			margin-bottom: 20px;
			padding: 0 !important;
		}
		h2 {
			margin: 0 !important;
			padding: 0 !important;
		}
		.ghost-button {
			margin-bottom: 0 !important;
		}
		.top-banner-inner-right {
			margin-top: 0;
		}
		.video-wrapper {
			margin-top: 0px;
		}
	}
	.navbar-log-in-sm {
		display: none !important;
	}
	.navbar-sign-up-sm {
		display: none !important;
	}
	.profiles h1 {
		padding-top: 10px;
		padding-bottom: 0px;
	}
	.profiles-inner h1 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.profiles-inner h2 {
		padding-top: 5px !important;
	}
	.signUpTxt {
		display: none;
	}
	.profiles hr {
		margin-top: 40px;
	}
	.profiles {
		padding-bottom: 40px;
	}
	.features {
		padding-top: 0;
		padding-bottom: 30px;
		h1 {
			padding-top: 10px;
		}
	}
	.features-inner {
		h1 {
			font-size: 1.4em !important;
		}
	}
	.customers {
		padding-bottom: 30px;
		h1 {
			padding-top: 20px;
		}
	}
	.qoute p{
		padding: 50px 30px 30px 30px !important;
	}
	.social {
		padding-bottom: 30px;
		.social-inner {
			margin: 0;
			padding: 0;
			h1{
				padding-top: 15px;
			}
			h2 {
				display: block;
				line-height: 20px;
				padding: 10px;
				margin: 0;
				border-radius: 10px;
			}
			h3 {
				padding: 10px;
				margin-top: 20px;
				border-radius: 10px;
			}
			.blog-1 {
				padding: 20px 20px 10px 20px;
				margin-bottom: 20px;
			}
			.blog-2 {
				padding: 20px 20px 10px 20px;
				margin-bottom: 0;
			}
		}
	}
	footer {
		padding-top: 30px;
		.social-icon {
			padding: 5px !important;
		}
		.sub-footer {
			margin-top: 30px;
			p {
				padding-bottom: 20px;
			}
		}
	}
}

@media (max-width: 400px) {
	.calculator-small {
		p {
			font-size: 1em !important;
		}
	}
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				width: 80% !important;
			}
			.customer {
				width: 80% !important;
			}
		}
	}
	.profile-select {
		padding-top: 70px !important;
		h1 {
			display: none;
		}
	}
}

@media (max-width: 300px) {
	.profile-owner-solid {
		display: block;
		width: 70px !important;
		height: 70px !important;
		background: $colour2;
		-moz-border-radius: 35px !important;
		-webkit-border-radius: 35px !important;
		background-image: url(../img/yourstest.png);
		background-size: 50px 50px !important;	 
		background-position:50% 50%;
		background-repeat:no-repeat;   
		margin: 0 auto;
		transition-duration: 1s;
	}
}