//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue
$border: #cacaca; //medium grey
//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}

html { -webkit-font-smoothing: antialiased; }

//ABOUT PAGE//
.top-banner-about {
    height: 320px;
    background: url(../img/background/23.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 40px;
    border-bottom: solid 1px $border;
    .top-banner-inner-left {
        h1 {
           color: $colour4;

            font-family: helveticaMedium;
            font-size: 4em;
            padding: 20px 20px 0 20px;
        }
        h2 {
            color: $colour4;

            font-family: helveticaLight;
            font-size: 2.2em;
            padding: 0 20px 0 20px;
            line-height: 40px;
        }
    }
}
.about-page {
    padding-top: 40px;
    border-bottom: solid 1px $border;
    background-color: $colour5;
    p {
        font-family: helveticaRegular;
        padding-top: 50px;
    }
    h1 {
        font-size: 2em;
        text-align: center;
        font-family: helveticaLight;
        padding-bottom: 30px;
    }
    h2 {
        font-size: 1.8em;
        text-align: left;
        font-family: helveticaThin;
        color: #000;
        padding-bottom: 20px;
    }
    .about-us {
        padding-top: 0px;
    }
    .mission {
        font-size: 1.2em;
        text-align: center;
        font-family: helveticaLight;
        color: $colour4;
        p {
            padding: 50px 30px 30px 40px;
            background-color: #cfdec4;
            text-align: left;
            border-radius: 15px;
            position: relative;
            top: -40px;
        }
        .mission-circle {
            z-index: 1;
            display: block;
            width: 90px;
            height: 90px;
            background: $colour2;
            border-style: solid;
            border-width: 3px;
            -moz-border-radius: 45px;
            -webkit-border-radius: 45px;
            border-color: $colour5;
            text-align: center;
            line-height: 85px;
            margin: 0 auto;
            position: relative;
            top: 0px;
            img {
                text-align: center;
            }
        }
    }
    .awards {
        padding-bottom: 50px;
        p {
            padding-top: 20px;
            text-align: center;
            font-weight: bolder;
        }
        .img-responsive {
            max-width: 200px;
            height: auto;
            margin: 0 auto;
        }
    }
    .team-pic {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background: lightgrey;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .team-pic-nic {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background: lightgrey;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-image: url(../img/Nic_on_holiday.png);
        background-size: 100px auto;
        background-position: 50% 50%;
        background-repeat:no-repeat;
    }
}
.the-team {
    background-color: #fff;
    padding-bottom: 30px;
    p {
        text-align: center;
        padding-top: 0;
    }
    .team-copy {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }
}
.about-cta {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #fff;
}

//MEDIA QUERIES//////////////////////////////////////////////////////////

@media (max-width: 991px) {
    .ideal {
        margin-top: 20px;
    }
    .map {
        margin-bottom: 15px;
    }
    .about-page {
        p {
            padding-top: 0;
        }
    }
}

@media (max-width: 767px) {
    .awards {
        .img-responsive {
            padding-top: 20px;
        }
    }
    .the-team {
        .team-copy {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
    }
}

@media (max-width: 445px) {
    .the-team {
        .team-copy {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

@media (max-width: 245px) {
    .top-banner-about {
        .top-banner-inner-left {
            h1 {
                font-size: 2.5em !important;
            }
            h2 {
                font-size: 1.5em !important;
                line-height: normal;
            }
        }
    }
}