@font-face {
  font-family: helveticaLight;
  src: url(../fonts/HelveticaNeueLight.ttf); }
@font-face {
  font-family: helveticaThin;
  src: url(../fonts/HelveticaNeueThin.ttf); }
@font-face {
  font-family: helveticaRegular;
  src: url(../fonts/HelveticaNeue.ttf); }
@font-face {
  font-family: helveticaMedium;
  src: url(../fonts/HelveticaNeueMedium.ttf); }
@font-face {
  font-family: helveticaBold;
  src: url(../fonts/HelveticaNeueBold.ttf);
  font-weight: bold; }
html {
  -webkit-font-smoothing: antialiased; }

.EnergyDeckLogo {
  width: 182.4px;
  height: 36px; }

.navbar-brand {
  padding-top: 7px; }

.navbar {
  background: rgba(255, 255, 255, 0.9); }

.navbar-signUp {
  margin-left: 10px; }

.navbar-signUp2 {
  margin-right: 10px; }

.navbar-logIn {
  margin-right: 0px;
  margin-left: 20px; }

.navbar-logInSm {
  float: right;
  margin-right: 20px;
  margin-left: 10px; }

.topBanner {
  min-height: auto;
  background: url(../img/newbg26.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px; }
  .topBanner .topBannerInnerLeft h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .topBanner .topBannerInnerLeft h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }
  .topBanner .topBannerInnerLeft .ghost-button {
    display: inline-block;
    width: 150px;
    padding: 8px;
    margin: 20px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: helveticaLight;
    font-size: 1.2em;
    transition-duration: 1s;
    background-color: #558e28;
    border: solid 2px #fff; }
  .topBanner .topBannerInnerLeft .ghost-button:hover {
    border: solid 2px #2a2a2a;
    background-color: #558e28;
    transition-duration: 1s;
    color: #fff; }
  .topBanner .topBannerInnerRight {
    margin-top: 50px; }
    .topBanner .topBannerInnerRight .videoWrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0;
      margin-top: 40px;
      margin-bottom: 40px; }
    .topBanner .topBannerInnerRight .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.triangle {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #558e28; }

.triangleInner {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 36px solid #fff;
  position: relative;
  top: -44px;
  padding-bottom: 0;
  margin-bottom: 0; }

.features {
  padding-top: 20px;
  padding-bottom: 30px; }
  .features .line {
    background-color: transparent;
    height: 2px;
    border-top-style: dashed;
    border-top-color: #558e28;
    border-top-width: 2px;
    position: relative;
    top: 120px;
    width: 80%;
    margin: 0 auto; }
  .features h1 {
    text-align: center;
    font-size: 2em;
    font-family: helveticaLight;
    color: #2a2a2a;
    padding-bottom: 5px;
    padding-top: 10px; }
  .features .featuresInner h1 {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaRegular;
    color: #2a2a2a;
    margin-bottom: 15px; }
  .features .featuresInner h2 {
    margin-top: 15px;
    font-size: .9em;
    text-align: center;
    font-family: helveticaLight;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2a2a2a; }
  .features .featuresInner .circletag1 {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .featuresInner .circletag1:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag2 {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/reporting-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .featuresInner .circletag2:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flex.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag3 {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .featuresInner .circletag3:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag4 {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .featuresInner .circletag4:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag1Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag2Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flex.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag3Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .featuresInner .circletag4Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .carousel-control.left, .features .carousel-control.right {
    background-image: none !important; }
  .features .featuresSlider {
    padding-bottom: 30px; }
    .features .featuresSlider .slider .slide .carousel-inner .item {
      border-top-style: solid;
      border-top-width: 4px;
      border-top-color: #558e28;
      background-color: #f9f9f9;
      width: 100%;
      height: 300px; }
      .features .featuresSlider .slider .slide .carousel-inner .item .analyticsSlide h1 {
        text-align: center;
        margin-top: -20px; }
      .features .featuresSlider .slider .slide .carousel-inner .item .analyticsSlide img {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px; }
      .features .featuresSlider .slider .slide .carousel-inner .item .analyticsSlide p {
        text-align: center; }

#myCarousel i {
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #558e28; }

.circletagYours {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/yourstest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition-duration: 1s; }

.circletagSomeoneElse {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/sptest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #558e28;
  transition-duration: 1s; }

.profiles {
  background-color: #2a2a2a;
  padding-bottom: 60px; }
  .profiles h1 {
    text-align: center;
    font-size: 2em;
    font-family: helveticaLight;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fff; }
  .profiles .right {
    border-right: 1px solid #ccc; }
  .profiles hr {
    margin-top: 50px; }
  .profiles .row {
    padding: 0;
    margin: 0; }
  .profiles .profilesInner {
    text-align: center; }
    .profiles .profilesInner h1 {
      font-size: 1.2em;
      text-align: center;
      font-family: helveticaRegular;
      color: #fff;
      padding-bottom: 0px;
      padding-top: 0px; }
    .profiles .profilesInner h2 {
      margin-top: 15px;
      font-size: 1em;
      text-align: center;
      font-family: helveticaLight;
      color: #fff;
      padding-left: 100px;
      padding-right: 100px; }
    .profiles .profilesInner .sign-up {
      color: #fff; }
    .profiles .profilesInner .borderLeft {
      border-left: 2px solid #d1d1d4;
      position: absolute;
      top: 10%;
      bottom: 10%; }
    .profiles .profilesInner .ghost-button-learn {
      display: inline-block;
      width: 150px;
      padding: 8px;
      margin-right: 50px;
      color: #fff;
      border: 2px solid #fff;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 15px;
      transition-duration: 1s; }
      .profiles .profilesInner .ghost-button-learn i {
        font-size: 1.2em;
        position: relative;
        top: 2px; }
    .profiles .profilesInner .ghost-button-learn:hover {
      color: #558e28;
      border: 2px solid #558e28;
      transition-duration: 1s; }
    .profiles .profilesInner .ghost-button-go {
      display: inline-block;
      width: 150px;
      padding: 8px;
      margin-right: 50px;
      color: #fff;
      background-color: #558e28;
      border: 2px solid #558e28;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 20px;
      transition-duration: 1s;
      border-radius: 20px; }
    .profiles .profilesInner .ghost-button-go:hover {
      background-color: #2a2a2a;
      color: #558e28;
      transition-duration: 1s; }

.customers {
  background-color: #fff;
  padding-bottom: 40px; }
  .customers h1 {
    text-align: center;
    font-size: 2.4em;
    font-family: helveticaLight;
    color: #2a2a2a;
    padding-top: 30px;
    padding-bottom: 20px; }
  .customers .customersInner a {
    text-decoration: none;
    cursor: pointer; }
  .customers .customersInner img {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; }
  .customers .customersInner .qoute {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff; }
    .customers .customersInner .qoute p {
      padding: 50px;
      background-color: #cacaca;
      text-align: left;
      border-radius: 15px; }
    .customers .customersInner .qoute .circle {
      display: block;
      width: 90px;
      height: 90px;
      background: #e6e6e6;
      border-style: solid;
      border-width: 3px;
      -moz-border-radius: 45px;
      -webkit-border-radius: 45px;
      border-color: #fff;
      text-align: center;
      line-height: 85px;
      margin: 0 auto;
      margin-bottom: 20px;
      position: relative;
      top: 60px; }
      .customers .customersInner .qoute .circle img {
        text-align: center; }

.caseStudyContainer {
  margin-top: 50px;
  margin-bottom: 20px; }
  .caseStudyContainer .caseStudy {
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: #54abc7;
    background-color: #fff;
    transition-duration: 2s;
    outline-style: solid;
    outline-color: #54abc7;
    outline-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .caseStudyContainer .caseStudy .innerCaseStudy .ghost-button-read {
      display: inline-block;
      width: 150px;
      padding: 8px;
      margin-right: 50px;
      color: #36393e;
      border: 2px solid #36393e;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 20px;
      background-color: #ffffff;
      transition-duration: 1s; }
    .caseStudyContainer .caseStudy .innerCaseStudy .ghost-button-read:hover {
      background-color: #54abc7;
      transition-duration: 1s; }
    .caseStudyContainer .caseStudy .innerCaseStudy .btn-right {
      float: right; }
    .caseStudyContainer .caseStudy .innerCaseStudy .btn-left {
      float: left; }
    .caseStudyContainer .caseStudy .innerCaseStudy .reduction {
      position: absolute;
      left: 105px;
      top: 105px; }
    .caseStudyContainer .caseStudy .innerCaseStudy .waste {
      position: absolute;
      left: 70px;
      top: 120px; }
    .caseStudyContainer .caseStudy .innerCaseStudy .output {
      position: absolute;
      left: 75px;
      top: 105px;
      width: 35%;
      text-align: center; }
    .caseStudyContainer .caseStudy .innerCaseStudy .ghost-button-all-cases {
      display: block;
      width: 250px;
      padding: 18px;
      color: #36393e;
      border: 2px solid #36393e;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background-color: #ffffff;
      transition-duration: 1s;
      position: relative;
      top: 95px; }
    .caseStudyContainer .caseStudy .innerCaseStudy .ghost-button-all-cases:hover {
      background-color: #54abc7;
      transition-duration: 1s; }
    .caseStudyContainer .caseStudy .innerCaseStudy .caseLogo {
      margin-bottom: 10px; }
    .caseStudyContainer .caseStudy .innerCaseStudy p {
      padding-bottom: 10px; }
    .caseStudyContainer .caseStudy .caseGraph {
      margin-top: 20px; }
  .caseStudyContainer .caseStudy:hover {
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: #54abc7;
    background-color: #54abc7;
    transition-duration: 2s;
    outline-style: solid;
    outline-color: #54abc7;
    outline-width: 2px; }
  .caseStudyContainer .caseStudySlider #caseStudyCarousel ol {
    bottom: 5px; }
  .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item {
    height: 400px;
    background-color: #fff;
    width: 100%; }
    .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudyLogo {
      position: relative;
      text-align: left;
      height: 50px;
      margin-top: 30px;
      margin-left: 30px; }
    .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlide {
      height: auto;
      padding-top: 20px;
      text-align: center; }
      .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlide p {
        margin-left: 30px;
        text-align: left; }
      .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlide img {
        display: block;
        margin: 0 auto;
        padding-bottom: 5px; }
    .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlideBottom {
      position: relative;
      text-align: center;
      height: 100px;
      padding-top: 30px; }
      .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlideBottom .ghost-button-read {
        display: inline-block;
        width: 150px;
        padding: 8px;
        color: #36393e;
        border: 2px solid #36393e;
        text-align: center;
        outline: none;
        text-decoration: none;
        font-family: helveticaLight;
        font-size: 1.2em;
        margin: 0 auto;
        background-color: #ffffff;
        transition-duration: 1s; }
      .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item .caseStudySlideBottom .ghost-button-read:hover {
        background-color: #54abc7;
        transition-duration: 1s;
        color: #fff; }
  .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-control.left, .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-control.right {
    background-image: none !important;
    width: 30px; }

.social {
  background-color: #696969;
  padding-bottom: 50px; }
  .social .socialInner {
    padding-left: 0;
    margin-left: 0; }
    .social .socialInner h1 {
      text-align: left;
      font-size: 2em;
      font-family: helveticaLight;
      color: #2a2a2a;
      padding-top: 30px;
      padding-bottom: 20px; }
    .social .socialInner span {
      font-size: 1em;
      text-align: left;
      font-family: helveticaLight;
      display: block;
      padding-left: 10px; }
    .social .socialInner h2 {
      font-size: 1.2em;
      text-align: left;
      font-family: helveticaRegular;
      color: #fff;
      background-color: #2a2a2a;
      display: inline;
      padding: 15px 30px 15px 30px;
      margin-left: 0;
      -moz-border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px;
      /* future proofing */
      -khtml-border-radius: 0px 5px 5px 0px;
      /* for old Konqueror browsers */
      line-height: 60px; }
    .social .socialInner h3 {
      font-size: 1.2em;
      text-align: left;
      font-family: helveticaLight;
      color: #fff;
      background-color: #2a2a2a;
      padding: 15px 30px 15px 30px;
      -moz-border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px;
      /* future proofing */
      -khtml-border-radius: 0px 5px 5px 0px;
      /* for old Konqueror browsers */ }
      .social .socialInner h3 span {
        display: inline;
        font-size: .8em;
        text-align: center;
        font-family: helveticaMedium;
        color: #fff; }
  .social .blog1 {
    height: auto;
    width: 100%;
    background: url(../img/blog1BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin-bottom: 21px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px; }
  .social .blog2 {
    height: auto;
    width: 100%;
    background: url(../img/blog2BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-right: 40px; }
  .social .twitterPlugin {
    background-color: #fff;
    max-width: 520px;
    height: 475px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 2px;
    padding: 0; }

footer {
  background-color: #2a2a2a;
  padding-top: 100px; }
  footer .footerBrand p {
    color: #9a9a9a;
    font-size: 1.2em; }
  footer .footerBrand .social-icon {
    padding-right: 20px; }
  footer .footerMenuLinks {
    text-align: center; }
    footer .footerMenuLinks a {
      color: #9a9a9a; }
  footer .footerCTALinks {
    padding-right: 40px; }
  footer .footerMenuLinks ul, footer .footerCTALinks ul {
    list-style: none; }
    footer .footerMenuLinks ul li, footer .footerCTALinks ul li {
      color: #9a9a9a; }
      footer .footerMenuLinks ul li span a, footer .footerCTALinks ul li span a {
        display: block;
        color: #558e28;
        font-weight: bold; }
  footer .footerContact p {
    color: #558e28; }
  footer .footerContact a {
    color: #558e28; }
  footer .footerContact img {
    float: right;
    position: relative; }
  footer .footerContact #phone {
    top: 0px; }
  footer .footerContact #address {
    top: 30px; }
  footer .footerContact #email {
    top: 20px; }
  footer .footerContact #emailText {
    padding-top: 20px; }
  footer .footerMailer {
    padding-top: 40px; }
    footer .footerMailer p {
      color: #9a9a9a; }
  footer .footerSocial {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px; }
    footer .footerSocial img {
      margin: 10px; }
  footer .subFooter {
    background-color: #000;
    margin-top: 100px; }
    footer .subFooter p {
      text-align: center;
      color: #888888;
      font-size: 1em;
      padding-top: 30px;
      padding-bottom: 30px; }

@media (min-width: 768px) and (max-width: 1020px) {
  .EnergyDeckLogo {
    width: 100px;
    height: auto; }

  .navbar-brand {
    padding-top: 16px; } }
@media (max-width: 768px) {
  .navbar-signUp {
    margin-left: 10px; }

  .navbar-logIn {
    margin-right: 0px;
    margin-left: 20px; } }
@media (max-width: 460px) {
  .topBanner {
    padding-top: 30px;
    padding-bottom: 0px; }
    .topBanner h1 {
      margin-top: 30px !important;
      margin-bottom: 20px;
      padding: 0 !important; }
    .topBanner h2 {
      margin: 0 !important;
      padding: 0 !important; }
    .topBanner .ghost-button {
      margin-bottom: 0 !important; }
    .topBanner .topBannerInnerRight {
      margin-top: 0; }
    .topBanner .videoWrapper {
      margin-top: 0px; }

  .navbar-logInSm {
    display: none !important; }

  .navbar-signUp2 {
    display: none !important; }

  .profiles h1 {
    padding-top: 10px;
    padding-bottom: 0px; }

  .profilesInner h1 {
    margin-top: 10px;
    margin-bottom: 20px; }

  .profilesInner h2 {
    padding-top: 5px !important; }

  .signUpTxt {
    display: none; }

  .profiles hr {
    margin-top: 40px; }

  .profiles {
    padding-bottom: 40px; }

  .features {
    padding-top: 0;
    padding-bottom: 30px; }
    .features h1 {
      padding-top: 10px; }

  .featuresInner h1 {
    font-size: 1.4em !important; }

  .customers {
    padding-bottom: 30px; }
    .customers h1 {
      padding-top: 20px; }

  .qoute p {
    padding: 50px 30px 30px 30px !important; }

  .social {
    padding-bottom: 30px; }
    .social .socialInner {
      margin: 0;
      padding: 0; }
      .social .socialInner h1 {
        padding-top: 15px; }
      .social .socialInner h2 {
        display: block;
        line-height: 20px;
        padding: 10px;
        margin: 0;
        border-radius: 10px; }
      .social .socialInner h3 {
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px; }
      .social .socialInner .blog1 {
        padding: 20px 20px 10px 20px;
        margin-bottom: 20px; }
      .social .socialInner .blog2 {
        padding: 20px 20px 10px 20px;
        margin-bottom: 0; }

  footer {
    padding-top: 30px; }
    footer .social-icon {
      padding: 5px !important; }
    footer .subFooter {
      margin-top: 30px; }
      footer .subFooter p {
        padding-bottom: 20px; } }
@media (max-width: 750px) {
  .customersInner .customer-logos img {
    width: 40px;
    height: auto; }

  footer .ed-logo {
    width: 50% !important; }

  .topBannerInnerLeft h1 {
    font-size: 3.5em !important; } }
@media (max-width: 992px) {
  .customersInner .customer-logos {
    text-align: center; }

  .topBanner .topBannerInnerLeft {
    text-align: center; }
    .topBanner .topBannerInnerLeft h1 {
      text-align: left; }
    .topBanner .topBannerInnerLeft h2 {
      text-align: left; }
    .topBanner .topBannerInnerLeft .ghost-button {
      margin-right: 30px;
      margin-left: 30px; }

  .caseStudyContainer .caseStudySlider #caseStudyCarousel .carousel-inner .item {
    height: 520px; }

  footer .footerBrand {
    text-align: center; }
    footer .footerBrand .ed-logo {
      width: 400px; }
  footer .footerMenuLinks {
    padding: 0;
    padding-top: 20px;
    text-align: center; }
    footer .footerMenuLinks ul {
      list-style: none;
      padding-left: 0; }
  footer .footerCTALinks {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    footer .footerCTALinks ul {
      list-style: none;
      padding-left: 0; }
  footer .footerContact {
    text-align: center;
    margin: 0; }
    footer .footerContact p {
      color: #558e28; }
    footer .footerContact #phone {
      display: none; }
    footer .footerContact #address {
      display: none; }
    footer .footerContact #email {
      display: none; }
    footer .footerContact #emailText {
      padding-top: 0px; }
  footer .footerMailer .form-control {
    margin: 0 auto;
    width: 80%; }
  footer .footerMailer button {
    margin-top: 10px; } }
@media (max-width: 300px) {
  .circletagYoursSolid {
    display: block;
    width: 70px !important;
    height: 70px !important;
    background: #558e28;
    -moz-border-radius: 35px !important;
    -webkit-border-radius: 35px !important;
    background-image: url(../img/yourstest.png);
    background-size: 50px 50px !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition-duration: 1s; }

  .circletagSomeoneElse {
    display: block;
    width: 70px !important;
    height: 70px !important;
    background: #558e28;
    -moz-border-radius: 35px !important;
    -webkit-border-radius: 35px !important;
    background-image: url(../img/sptest.png);
    background-size: 50px 50px !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #558e28;
    transition-duration: 1s; } }
@media (max-width: 400px) {
  .calculator-small p {
    font-size: 1em !important; }

  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 80% !important; }
    .pricing form .customer {
      width: 80% !important; }

  .profileSelect {
    padding-top: 70px !important; }
    .profileSelect h1 {
      display: none; } }
@media (max-width: 550px) {
  .profileSelect h1 {
    padding-bottom: 0 !important; }
  .profileSelect h2 {
    display: none; } }
@media (max-width: 650px) {
  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 50%; }
    .pricing form .customer {
      width: 60%; }

  .circletagPricingYours {
    display: block !important; }

  .circletagPricingSP {
    display: block !important; }

  .pricingHeading {
    text-align: center; }
    .pricingHeading h1 {
      padding: 0 !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      bottom: 0 !important; }
    .pricingHeading hr {
      margin-top: 0 !important; } }
@media (max-width: 767px) {
  .awards .img-responsive {
    padding-top: 20px; }

  .the-team .team-copy {
    padding-left: 40px !important;
    padding-right: 40px !important; }

  .calculator {
    display: none; }

  #pricingFooter {
    margin-bottom: 110px; } }
@media (max-width: 1000px) {
  .profileSelect h1 {
    font-size: 1.2em !important; }
  .profileSelect h2 {
    padding: 0 30px 0 30px !important; }
  .profileSelect .line {
    display: none; }

  .features .line {
    display: none; }
  .features .featuresSlider {
    display: none; }
  .features .featuresInner .circletag1, .features .featuresInner .circletag2, .features .featuresInner .circletag3, .features .featuresInner .circletag4 {
    cursor: default !important; }
  .features .featuresInner .circletag1:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/onePlatform.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag2:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flexibleReporting.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag3:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytics.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag4:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/projectTracking.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag1Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/onePlatform.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag2Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flexibleReporting.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag3Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytics.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .featuresInner .circletag4Select {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/projectTracking.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; } }
@media (max-width: 1200px) {
  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 50%; }
    .pricing form .customer {
      width: 70%; }

  .benefits-circle {
    display: block !important;
    margin-left: auto;
    margin-right: auto; }

  .benefits {
    text-align: center; }
    .benefits h1 {
      padding-left: 0 !important;
      display: block; }
    .benefits h2 {
      padding-bottom: 15px; }
    .benefits p {
      padding-bottom: 10px; }
    .benefits img {
      margin: 0 auto; }
    .benefits .benefitsInner {
      text-align: center; }
      .benefits .benefitsInner i {
        display: block; }

  .features .featuresInner h2 {
    padding-left: 10px;
    padding-right: 10px; }

  .profiles .profilesInner h2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px; } }
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media (max-width: 991px) {
  .ideal {
    margin-top: 20px; }

  .map {
    margin-bottom: 15px; }

  .blog-side {
    text-align: left !important;
    padding-bottom: 40px !important; }

  .blog-main {
    padding-bottom: 20px !important; } }
/* Large Devices, Wide Screens */
.profileSelect {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #2a2a2a;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #558e28; }
  .profileSelect .line {
    background-color: transparent;
    height: 2px;
    border-top-style: dashed;
    border-top-color: #558e28;
    border-top-width: 2px;
    position: relative;
    top: 150px;
    width: 40%;
    margin: 0 auto; }
  .profileSelect h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: helveticaRegular;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px; }
  .profileSelect h2 {
    margin-top: 30px;
    font-size: 1em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px; }

.circletagYoursSolid {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/yourstest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition-duration: 1s; }

.circletagSomeoneElseSolid {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/sptest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #558e28;
  transition-duration: 1s; }

.circletagYoursSelect {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/yoursWhite.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition-duration: 1s; }

.circletagSomeoneElseSelect {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/SPWhite.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #558e28;
  transition-duration: 1s; }

.benefits-top {
  background-color: #fff; }

.benefits-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: solid 2px #558e28;
  background-color: #558e28;
  line-height: 90px;
  text-align: center;
  display: inline-block; }

.feature1, .feature3 {
  padding-bottom: 50px;
  background-color: #fff;
  color: #2a2a2a; }

.feature3 {
  padding-top: 50px; }

.feature2, .feature4 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6e6; }
  .feature2 h1, .feature2 h2, .feature2 h3, .feature2 p, .feature4 h1, .feature4 h2, .feature4 h3, .feature4 p {
    color: #2a2a2a; }

.feature5 {
  background-color: #fff; }

.benefitsTriangleInner {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 36px solid #2a2a2a;
  position: relative;
  top: -44px;
  padding-bottom: 0;
  margin-bottom: 0; }

.benefitsIcon {
  display: inline-block;
  margin-bottom: 18px !important; }

.benefits h1 {
  display: inline-block;
  font-size: 2em;
  text-align: left;
  font-family: helveticaLight;
  padding-left: 20px; }
.benefits h2 {
  display: inline-block;
  font-size: 1.2em;
  text-align: left;
  font-family: helveticaRegular;
  margin-bottom: 25px; }
.benefits h3 {
  font-size: 1.2em;
  font-family: helveticaRegular; }
.benefits p {
  font-size: 1em;
  font-family: helveticaLight; }

.benefitsInner img {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px; }
.benefitsInner p {
  display: inline-block;
  font-size: 1em;
  padding-left: 10px; }
.benefitsInner i {
  font-size: 2em;
  position: relative;
  top: 5px; }

.ghost-button-benefits {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: #36393e;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: helveticaLight;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition-duration: 1s; }

.ghost-button-benefits:hover {
  background-color: #54abc7;
  transition-duration: 1s;
  color: #fff;
  text-decoration: none; }

.benefitsCTA {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }

.ghost-button-benefitsCTA {
  display: inline-block;
  width: 150px;
  padding: 8px;
  margin-right: 50px;
  color: #fff;
  background-color: #558e28;
  border: 2px solid #558e28;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: helveticaLight;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 20px;
  transition-duration: 1s;
  border-radius: 20px; }

.ghost-button-benefitsCTA:hover {
  background-color: transparent;
  color: #558e28;
  transition-duration: 1s;
  text-decoration: none;
  border-color: #558e28; }

.pricingTop {
  background-color: #fff; }

.pricing {
  background-color: #fff; }
  .pricing .pricingHeading h1 {
    display: inline-block;
    font-size: 2em;
    text-align: left;
    font-family: helveticaLight;
    color: #2a2a2a;
    position: relative;
    bottom: 30px;
    padding-left: 20px; }
  .pricing .pricingHeading h2 {
    font-size: 1em;
    text-align: left;
    font-family: helveticaRegular;
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 40px; }
  .pricing .pricingHeading .circletagPricingYours {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/yoursWhite.png);
    background-size: 60px 60px;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition-duration: 1s; }
  .pricing .pricingHeading .circletagPricingSP {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/spWhite.png);
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #558e28;
    transition-duration: 1s; }
  .pricing h1 {
    font-size: 2em;
    text-align: center;
    font-family: helveticaThin;
    color: #2a2a2a; }
    .pricing h1 a {
      text-decoration: none;
      color: #2a2a2a; }
  .pricing h2 {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaThin;
    color: #2a2a2a; }
  .pricing .pricing-hr {
    margin-top: 40px;
    margin-bottom: 40px; }
  .pricing .form-heading {
    margin-bottom: 30px; }
  .pricing .circlePricing {
    display: block;
    width: 70px;
    height: 70px;
    background: #558e28;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: helveticaThin; }
  .pricing .stopCalc {
    background-color: #fff;
    height: 30px; }
  .pricing .calculator {
    background-color: #e6e6e6;
    border: 4px solid #558e28;
    border-radius: 25px; }
    .pricing .calculator h1 {
      color: #2a2a2a;
      background-color: #cacaca;
      margin-top: 0;
      border: 2px solid #cacaca;
      border-radius: 17px 17px 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom-color: #558e28;
      font-family: helveticaThin; }
    .pricing .calculator .overview {
      text-align: center; }
      .pricing .calculator .overview i {
        font-size: 3em;
        color: #558e28; }
      .pricing .calculator .overview p {
        font-family: helveticaRegular;
        font-size: 1.2em;
        color: #558e28; }
    .pricing .calculator .free-feeds {
      text-align: center; }
      .pricing .calculator .free-feeds p {
        font-family: helveticaRegular;
        font-size: 1.2em;
        color: #558e28; }
    .pricing .calculator .total-cost h1 {
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top-color: #558e28;
      margin-bottom: 0;
      font-size: 2em; }
    .pricing .calculator .total-cost h2 {
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      font-size: 1.2em;
      margin-bottom: 0; }
    .pricing .calculator .total-cost h3 {
      text-align: center;
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      font-size: .9em;
      margin-bottom: 0; }
  .pricing .calc-bottom .checkbox {
    text-align: center;
    color: #2a2a2a;
    background-color: #cacaca;
    border: 2px solid #cacaca;
    border-radius: 0 0 17px 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: .9em;
    margin-bottom: 0; }

.calculator-small {
  padding-top: 5px;
  border-top: solid 2px #558e28;
  background-color: #2a2a2a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  text-align: center; }
  .calculator-small i {
    color: #558e28;
    font-size: 2em; }
  .calculator-small p {
    font-size: 1.2em;
    font-family: helveticaRegular;
    color: #558e28; }
  .calculator-small .output {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

form {
  text-align: center; }
  form #sites, form #feeds {
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 20px; }
  form .customer {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 15px; }
  form .customer-resi {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 15px; }
  form #submit-btn {
    margin-top: 15px;
    margin-bottom: 40px; }
  form #submit-btn-resi {
    margin-top: 15px;
    margin-bottom: 60px; }

footer form {
  text-align: left; }

.topBannerAbout {
  min-height: auto;
  background: url(../img/newbg31.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px; }
  .topBannerAbout .topBannerInnerLeft h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .topBannerAbout .topBannerInnerLeft h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }

.aboutPage {
  padding-top: 40px; }
  .aboutPage p {
    font-family: helveticaRegular; }
  .aboutPage h1 {
    font-size: 2em;
    text-align: center;
    font-family: helveticaLight;
    padding-bottom: 30px; }
  .aboutPage h2 {
    font-size: 1.8em;
    text-align: left;
    font-family: helveticaThin;
    color: #000;
    padding-bottom: 20px; }
  .aboutPage .about-us {
    padding-top: 50px; }
  .aboutPage .mission {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff; }
    .aboutPage .mission p {
      padding: 50px;
      background-color: #cacaca;
      text-align: left;
      border-radius: 15px;
      position: relative;
      top: -40px; }
    .aboutPage .mission .mission-circle {
      z-index: 1;
      display: block;
      width: 90px;
      height: 90px;
      background: #e6e6e6;
      border-style: solid;
      border-width: 3px;
      -moz-border-radius: 45px;
      -webkit-border-radius: 45px;
      border-color: #fff;
      text-align: center;
      line-height: 85px;
      margin: 0 auto;
      position: relative;
      top: 0px; }
      .aboutPage .mission .mission-circle img {
        text-align: center; }
  .aboutPage .awards {
    padding-bottom: 20px; }
    .aboutPage .awards p {
      padding-top: 20px;
      text-align: center;
      font-weight: bolder; }
    .aboutPage .awards .img-responsive {
      max-width: 200px;
      height: auto;
      margin: 0 auto; }
  .aboutPage .circlePic {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: lightgrey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .aboutPage .circlePicNic {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: lightgrey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-image: url(../img/Nic_on_holiday.png);
    background-size: 100px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .aboutPage .name, .aboutPage .title {
    text-align: center; }
  .aboutPage .memberships {
    margin-bottom: 30px; }
  .aboutPage .about-title {
    padding-bottom: 30px; }
    .aboutPage .about-title i {
      font-size: 3.5em;
      color: #fff;
      position: relative;
      top: -5px; }

.the-team {
  background-color: #e6e6e6;
  padding-bottom: 30px; }
  .the-team p {
    text-align: center; }
  .the-team .team-copy {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left; }

.aboutCTA {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #e3e3e3; }

.topBannerContact {
  min-height: auto;
  background: url(../img/newbg51.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px; }
  .topBannerContact .topBannerInnerLeft h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .topBannerContact .topBannerInnerLeft h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.contactPage {
  padding-top: 40px;
  padding-bottom: 60px; }
  .contactPage h1 {
    font-size: 2em;
    font-family: helveticaLight;
    color: #2a2a2a;
    text-align: center; }
  .contactPage h2 {
    font-size: 1.2em;
    text-align: left;
    font-family: helveticaRegular;
    color: #2a2a2a;
    text-align: center; }
  .contactPage p {
    font-size: 1em;
    font-family: helveticaLight;
    color: #2a2a2a;
    text-align: center; }
  .contactPage a {
    text-decoration: none;
    color: #2a2a2a; }

.circleContact {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #558e28;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  text-align: center;
  margin-top: 20px; }
  .circleContact img {
    margin-top: 20px; }

.circleContactSocial {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #2a2a2a;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  text-align: center;
  margin-top: 20px; }
  .circleContactSocial img {
    margin-top: 20px; }

.follow-container {
  text-align: center; }

.follow {
  margin-top: 30px;
  margin-bottom: 30px; }

.resourceMenu a {
  text-decoration: none; }
.resourceMenu span {
  color: #62a426;
  display: block;
  cursor: pointer; }
.resourceMenu p {
  color: #000;
  display: block; }

#caseStudySub {
  display: none; }

#researchSub {
  display: none; }

.blog {
  margin-top: 60px; }
  .blog .blog-main {
    padding-bottom: 60px; }
    .blog .blog-main h1 {
      font-size: 2em;
      text-align: left;
      font-family: helveticaThin;
      color: #2a2a2a;
      margin-bottom: 15px; }
    .blog .blog-main .blog-post {
      padding-bottom: 60px; }
      .blog .blog-main .blog-post .who-post .blog-circle {
        width: 60px;
        height: 60px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        background-image: url(../img/Nic_on_holiday.png);
        background-size: 60px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition-duration: 1s; }
      .blog .blog-main .blog-post .who-post p {
        margin: 0;
        margin-top: 9px;
        color: #2a2a2a;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post .who-post span {
        margin: 0;
        color: #696969;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post p {
        color: #2a2a2a;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post img {
        margin-top: 10px;
        margin-bottom: 20px; }
      .blog .blog-main .blog-post span {
        color: #696969;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post em {
        font-size: 1.2em;
        display: block; }
      .blog .blog-main .blog-post .img-float-right {
        float: right;
        padding-left: 20px;
        padding-top: 0;
        margin-top: 0; }
      .blog .blog-main .blog-post .img-float-left {
        float: left;
        padding-right: 20px;
        padding-top: 0;
        margin-top: 0; }
  .blog .blog-side {
    text-align: right; }
    .blog .blog-side h1 {
      font-size: 2em;
      font-family: helveticaThin;
      color: #2a2a2a;
      margin-bottom: 15px;
      padding: 0; }
    .blog .blog-side p {
      color: #2a2a2a;
      font-family: helveticaRegular;
      padding: 10px 0 0 0;
      margin: 0; }
    .blog .blog-side span {
      color: #696969;
      font-family: helveticaRegular; }

/*# sourceMappingURL=style.css.map */
