//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue
$border: #cacaca; //medium grey
//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}

html { -webkit-font-smoothing: antialiased; }

.top-banner-blog {
	height: 320px;
	background: url(../img/background/21.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		h1 {
		   color: #fff;

			font-family: helveticaMedium;
			font-size: 4em;
			//padding: 20px 20px 0 0;
		}
		h2 {
			color: $colour4;

			font-family: helveticaLight;
			font-size: 2.2em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
	}
}
.blog {
	//margin-top: 60px;
	.blog-main {
		padding-bottom: 60px;
		h1 {
			a {
				font-size: 1em;
				text-align: left;
				font-family: helveticaThin;
				color: $colour4;
				margin-bottom: 15px;
				text-decoration: none;
			}
		}
		span {
			font-family: helveticaThin;
		}
		.blog-post-top {
			padding-top: 60px;
		}
		.blog-post {
			padding-bottom: 0px;
			.who-post {
				.blog-circle {
				    width: 60px;
				    height: 60px;
				    -moz-border-radius: 30px;
				    -webkit-border-radius: 30px;
				    background-image: url(../img/Nic_on_holiday.png);
				    background-size: 60px auto;
				    background-position: 50% 50%;
				    background-repeat:no-repeat;
				    transition-duration: 1s;
				}
				p {
					margin: 0;
					margin-top: 9px;
					color: $colour4;
					font-family: helveticaRegular;
					padding-left: 5px;
				}
				span {
					margin: 0;
					color: $colour3;
					font-family: helveticaRegular;
					padding-left: 5px;
				}
			}
			p {
				color: $colour4;
				font-family: helveticaRegular;
			}
			img {
				margin-top: 10px;
				margin-bottom: 20px;
			}
			span {
				color: $colour3;
				font-family: helveticaRegular;
			}
			em {
				font-size: 1.2em;
				display: block;
			}
			.img-float-right {
				float: right;
				padding-left: 20px;
				padding-top: 0;
				margin-top: 0;
			}
			.img-float-left {
				float: left;
				padding-right: 20px;
				padding-top: 0;
				margin-top: 0;
			}
		}
	}
	.blog-side {
		text-align: right;
		h1 {
			font-size: 2em;
			font-family: helveticaThin;
			color: $colour4;
			margin-bottom: 15px;
			padding: 0;
		}
		p {
			color: $colour4;
			font-family: helveticaRegular;
			padding: 10px 0 0 0;
			margin: 0;
		}
		span {
			a {
				color: $colour3;
				font-family: helveticaRegular;
				text-decoration: underline;
			}
		}
	}
	.page-select-large {
		text-align: center;
		padding-top: 30px;
	}
	.page-select-small {
		display: none;
	}
}



//MEDIA QUERIES//////////////////////////////////////////////////////////

@media (max-width: 991px) {
	.blog-side {
		text-align: left !important;
		padding-bottom: 40px !important;
	}
	.blog-main {
		padding-bottom: 20px !important;
	}
}

@media (max-width: 600px) {
	.page-select-large {
		display: none;
	}
	.page-select-small {
		display: block !important;
		text-align: center;
		padding-top: 30px;
	}
}
@media (max-width: 500px) {
	.blog {
		.blog-main {
			.blog-post {
				.img-float-right, .img-float-left {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 245px) {
	.top-banner-blog {
		.top-banner-inner-left {
			h1 {
		   		font-size: 2.5em !important;
			}
			h2 {
				font-size: 1.5em !important;
				line-height: normal;
			}
		}
	}
}