//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue
$border: #cacaca; //medium grey
//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}

html { -webkit-font-smoothing: antialiased; }

//TOP BANNER//////////////////////////////////////
.top-space {
	margin-top: 40px;
}
.new-banner {
	height: 600px;
	background: url(../img/background/8.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	.banner-img {
  		position: relative;
  		top: 220px;
  		width: 80%;
  		margin: 0 auto;
  	}
}
.new-top {
	background-color: $colour4;
	h1 {
		   color: #fff;
			font-family: helveticaThin;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: #fff;

			font-family: helveticaThin;
			font-size: 2.5em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
		.ghost-button {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin: 20px;
	  		border-radius: 25px;
	  		color: #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		transition-duration: 1s;
	  		background-color: $colour2;
	  		border: solid 2px #fff;
		}
		.ghost-button:hover {
			border: solid 2px $colour4;
	  		background-color: $colour2;
	  		transition-duration: 1s;
	  		color: #fff;
		}
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.video-wrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			right: 0;
			margin: 0 auto;
		}
}
.top-banner {
	min-height: auto;
	background: url(../img/background/15-crop.jpg) no-repeat center bottom; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		h1 {
		   color: #000;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 0px;
		}
		h2 {
			color: #000;

			font-family: helveticaMedium;
			font-size: 2.5em;
			padding: 0 20px 0 0px;
			line-height: 40px;
		}
		.ghost-button {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-top: 20px;
	  		border-radius: 25px;
	  		color: #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		transition-duration: 1s;
	  		background-color: $colour2;
	  		border: solid 2px #fff;
		}
		.ghost-button:hover {
			border: solid 2px $colour4;
	  		background-color: $colour2;
	  		transition-duration: 1s;
	  		color: #fff;
		}
	}
	.top-banner-inner-right {
		margin-top: 12px;
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.video-wrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 96%;
			height: 96%;
			right: 0;
			margin: 0 auto;
		}
	}
}

//FEATURES/////////////////////////////////////
.benefits-triangle {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 40px solid $border;
	position: relative;
	top: -2px;

}
.triangle {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 40px solid $colour2;
}
.triangle-inner {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 36px solid #fff;
	position: relative;
	top: -44px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.features {
	padding-top: 20px;
	padding-bottom: 30px;
	.line {
		background-color: transparent;
		height: 2px;
		border-top-style: dashed;
		border-top-color: $colour2;
		border-top-width: 2px;
		position: relative;
		top: 110px;
		width: 80%;
		margin: 0 auto;
	}
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		color: $colour4;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	.features-inner {
		h1 {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			color: $colour4;
			margin-bottom: 15px;
		}
		h2 {
			margin-top: 15px;
			font-size: .9em;
			text-align: center;
			font-family: helveticaLight;
			margin-bottom: 20px;
			padding-left: 20px;
			padding-right: 20px;
			color: $colour4;
		}
		.one-platform-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/one-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.one-platform-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/one.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.flexible-reporting-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/reporting-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.flexible-reporting-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/flex.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.analytics-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/analytic-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;    
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.analytics-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/analytic.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.project-tracking-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/project-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;    
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.project-tracking-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/project.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.one-platform-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/one.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.flexible-reporting-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/flex.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
		.analytics-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/analytic.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
		.project-tracking-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/project.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
	}
	.carousel-control.left, .carousel-control.right {
    	background-image: none !important;
	}
	.features-slider {
		padding-bottom: 30px;
		.slider {
			.slide {
				.carousel-inner {
					.item {
						border-top-style: solid;
						border-top-width: 4px;
						border-top-color: $colour2;
						background-color: #f9f9f9;
						width: 100%;
						height: 300px;
						.analytics-slide {
							h1 {
								text-align: center;
								margin-top: -20px;
							}
							img {
								display: block;
								margin: 0 auto;
								padding-top: 20px;
								padding-bottom: 20px;
							}
							p {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
#my-carousel {
	i {
		font-size: 3em;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		color: $colour2;
	}
}

//PROFILES//////////////////////////////////////////////
.profiles {
	background-color: $colour4;
	padding-bottom: 60px;
	border-top: solid 1px $border;
	border-bottom: solid 1px $border;
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		padding-bottom: 30px;
		padding-top: 30px;
		color: #fff;
	}
	hr {
		margin-top: 50px;
	}
	.row {
		padding: 0;
		margin: 0;
	}
	.profiles-inner {
		text-align: center;
		h1 {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			color: #fff;
			padding-bottom: 0px;
			padding-top: 0px;
		}
		h2{
			margin-top: 15px;
			font-size: 1em;
			text-align: center;
			font-family: helveticaLight;
			color: #fff;
			padding-left: 100px;
			padding-right: 100px;
		}
		.ghost-button-learn {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		border: 2px solid #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		margin-bottom: 15px;
	  		transition-duration: 1s;
	  		i {
	  			font-size: 1.2em;
	  			position: relative;
	  			top: 2px;
	  		}
		}
		.ghost-button-learn:hover {
			color: $colour2;
	  		border: 2px solid $colour2;
	  		transition-duration: 1s;
		}
		.ghost-button-go {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		background-color: $colour2;
	  		border: 2px solid $colour2;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		transition-duration: 1s;
	  		border-radius: 20px;
		}
		.ghost-button-go:hover {
	  		background-color: $colour4;
	  		color: $colour2;
	  		transition-duration: 1s;
		}
	}
}

//CUSTOMERS/////////////////////////////////////////
.customers {
	background-color: #fff;
	padding-bottom: 40px;
	border-top: solid 1px $border;
	h1 {
		text-align: center;
		font-size: 2.4em;
		font-family: helveticaLight;
		color: $colour4;
		padding-top: 30px;
		padding-bottom: $sectionPadding;	
	}
	.customers-inner {
		a {
			text-decoration: none;
			cursor: pointer;
		}
		img {
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
		.qoute {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaLight;
			color: $colour4;
			p {
				padding: 50px;
				background-color: #cfdec4;
				text-align: left;
				border-radius: 15px;
			}
			.circle {
				display: block;
	    		width: 90px;
	    		height: 90px;
	    		background: $colour2;
	    		border-style: solid;
	    		border-width: 3px;
	    		-moz-border-radius: 45px;
	    		-webkit-border-radius: 45px;
	    		border-color: #fff;
	   			text-align: center;
	   			line-height: 85px;
	   			margin: 0 auto;
	    		margin-bottom: 25px;
	    		position: relative;
	    		top: 70px;
		    	img {
					text-align: center;
				}
			}
		}
	}
}

//SOCIAL////////////////////////////////////////////
.social {
	background-color: $colour3;
	padding-bottom: 50px;
	border-top: solid 1px $border;
	.social-inner {
		padding-left: 0;
		margin-left: 0;
		h1 {
			text-align: left;
			font-size: 2em;
			font-family: helveticaLight;
			color: #fff;
			padding-top: 30px;
			padding-bottom: 20px;	
		}
		span {
			font-size: 1em;
			text-align: left;
			font-family: helveticaLight;
			display: block;
			padding-left: 10px;
		}
		h2 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaRegular;
			color: #fff;
			background-color: $colour4;
			display: inline;
			padding: 15px 30px 15px 30px;
			margin-left: 0;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px; /* future proofing */
			-khtml-border-radius: 0px 5px 5px 0px; /* for old Konqueror browsers */
			line-height: 60px;
		}
		h3 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaLight;
			color: #fff;
			background-color: $colour4;
			padding: 15px 30px 15px 30px;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px;
			-khtml-border-radius: 0px 5px 5px 0px;
			span {
				display: inline;
				font-size: .8em;
				text-align: center;
				font-family: helveticaMedium;
				color: #fff;
			}
		}
	}
	.blog-1 {
		height: auto;
		width: 100%;
		background: url(../img/blog1BG.jpg) no-repeat center center; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	padding: 0;
	  	margin-bottom: 21px;
	  	padding-top: 40px;
	  	padding-bottom: 30px;
	  	padding-right: 40px;
	}
	.blog-2 {
		height: auto;
		width: 100%;
		background: url(../img/blog2BG.jpg) no-repeat center center; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	padding: 0;
	  	padding-bottom: 30px;
	  	padding-top: 40px;
		padding-right: 40px;
	}
	.twitter-plugin {
		background-color: #fff;
		max-width: 520px;
		height: 475px;
		border-style: solid;
		border-color: #e6e6e6;
		border-width: 2px;
		padding: 0;
	}
}