@font-face {
  font-family: helveticaLight;
  src: url(../fonts/HelveticaNeueLight.ttf); }
@font-face {
  font-family: helveticaThin;
  src: url(../fonts/HelveticaNeueThin.ttf); }
@font-face {
  font-family: helveticaRegular;
  src: url(../fonts/HelveticaNeue.ttf); }
@font-face {
  font-family: helveticaMedium;
  src: url(../fonts/HelveticaNeueMedium.ttf); }
@font-face {
  font-family: helveticaBold;
  src: url(../fonts/HelveticaNeueBold.ttf);
  font-weight: bold; }
html {
  -webkit-font-smoothing: antialiased; }

.EnergyDeck-logo {
  width: 182.4px;
  height: 36px; }

.navbar-brand {
  padding-top: 7px; }

.navbar {
  background: rgba(255, 255, 255, 0.9); }

.navbar-sign-up {
  margin-left: 10px; }

.navbar-sign-up-sm {
  margin-right: 10px; }

.navbar-log-in {
  margin-right: 0px;
  margin-left: 20px; }

.navbar-log-in-sm {
  float: right;
  margin-right: 20px;
  margin-left: 10px; }

.navbar-collapse {
  text-align: right; }

.top-banner {
  min-height: auto;
  background: url(../img/newbg26.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px;
  border-bottom: solid 1px #cacaca; }
  .top-banner .top-banner-inner-left h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .top-banner .top-banner-inner-left h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }
  .top-banner .top-banner-inner-left .ghost-button {
    display: inline-block;
    width: 150px;
    padding: 8px;
    margin: 20px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: helveticaLight;
    font-size: 1.2em;
    transition-duration: 1s;
    background-color: #558e28;
    border: solid 2px #fff; }
  .top-banner .top-banner-inner-left .ghost-button:hover {
    border: solid 2px #2a2a2a;
    background-color: #558e28;
    transition-duration: 1s;
    color: #fff; }
  .top-banner .top-banner-inner-right {
    margin-top: 50px; }
    .top-banner .top-banner-inner-right .video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0;
      margin-top: 40px;
      margin-bottom: 40px; }
    .top-banner .top-banner-inner-right .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.triangle {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #558e28; }

.triangle-inner {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 36px solid #fff;
  position: relative;
  top: -44px;
  padding-bottom: 0;
  margin-bottom: 0; }

.features {
  padding-top: 20px;
  padding-bottom: 30px; }
  .features .line {
    background-color: transparent;
    height: 2px;
    border-top-style: dashed;
    border-top-color: #558e28;
    border-top-width: 2px;
    position: relative;
    top: 110px;
    width: 80%;
    margin: 0 auto; }
  .features h1 {
    text-align: center;
    font-size: 2em;
    font-family: helveticaLight;
    color: #2a2a2a;
    padding-bottom: 5px;
    padding-top: 10px; }
  .features .features-inner h1 {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaRegular;
    color: #2a2a2a;
    margin-bottom: 15px; }
  .features .features-inner h2 {
    margin-top: 15px;
    font-size: .9em;
    text-align: center;
    font-family: helveticaLight;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2a2a2a; }
  .features .features-inner .one-platform-icon {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .features-inner .one-platform-icon:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .flexible-reporting-icon {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/reporting-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .features-inner .flexible-reporting-icon:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flex.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .analytics-icon {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .features-inner .analytics-icon:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .project-tracking-icon {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project-white.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s; }
  .features .features-inner .project-tracking-icon:hover {
    background: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .one-platform-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/one.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .flexible-reporting-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flex.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .analytics-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytic.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .features-inner .project-tracking-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/project.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 0.25s;
    -mox-box-shadow: 0px 0px 1px 2px #558e28;
    -webkit-box-shadow: 0px 0px 1px 2px #558e28;
    box-shadow: 0px 0px 1px 2px #558e28; }
  .features .carousel-control.left, .features .carousel-control.right {
    background-image: none !important; }
  .features .features-slider {
    padding-bottom: 30px; }
    .features .features-slider .slider .slide .carousel-inner .item {
      border-top-style: solid;
      border-top-width: 4px;
      border-top-color: #558e28;
      background-color: #f9f9f9;
      width: 100%;
      height: 300px; }
      .features .features-slider .slider .slide .carousel-inner .item .analytics-slide h1 {
        text-align: center;
        margin-top: -20px; }
      .features .features-slider .slider .slide .carousel-inner .item .analytics-slide img {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px; }
      .features .features-slider .slider .slide .carousel-inner .item .analytics-slide p {
        text-align: center; }

#my-carousel i {
  font-size: 3em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #558e28; }

.profiles {
  background-color: #2a2a2a;
  padding-bottom: 60px;
  border-top: solid 1px #cacaca;
  border-bottom: solid 1px #cacaca; }
  .profiles h1 {
    text-align: center;
    font-size: 2em;
    font-family: helveticaLight;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fff; }
  .profiles hr {
    margin-top: 50px; }
  .profiles .row {
    padding: 0;
    margin: 0; }
  .profiles .profiles-inner {
    text-align: center; }
    .profiles .profiles-inner h1 {
      font-size: 1.2em;
      text-align: center;
      font-family: helveticaRegular;
      color: #fff;
      padding-bottom: 0px;
      padding-top: 0px; }
    .profiles .profiles-inner h2 {
      margin-top: 15px;
      font-size: 1em;
      text-align: center;
      font-family: helveticaLight;
      color: #fff;
      padding-left: 100px;
      padding-right: 100px; }
    .profiles .profiles-inner .ghost-button-learn {
      display: inline-block;
      width: 150px;
      padding: 8px;
      margin-right: 50px;
      color: #fff;
      border: 2px solid #fff;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 15px;
      transition-duration: 1s; }
      .profiles .profiles-inner .ghost-button-learn i {
        font-size: 1.2em;
        position: relative;
        top: 2px; }
    .profiles .profiles-inner .ghost-button-learn:hover {
      color: #558e28;
      border: 2px solid #558e28;
      transition-duration: 1s; }
    .profiles .profiles-inner .ghost-button-go {
      display: inline-block;
      width: 150px;
      padding: 8px;
      margin-right: 50px;
      color: #fff;
      background-color: #558e28;
      border: 2px solid #558e28;
      text-align: center;
      outline: none;
      text-decoration: none;
      font-family: helveticaLight;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 20px;
      transition-duration: 1s;
      border-radius: 20px; }
    .profiles .profiles-inner .ghost-button-go:hover {
      background-color: #2a2a2a;
      color: #558e28;
      transition-duration: 1s; }

.customers {
  background-color: #fff;
  padding-bottom: 40px;
  border-top: solid 1px #cacaca; }
  .customers h1 {
    text-align: center;
    font-size: 2.4em;
    font-family: helveticaLight;
    color: #2a2a2a;
    padding-top: 30px;
    padding-bottom: 20px; }
  .customers .customers-inner a {
    text-decoration: none;
    cursor: pointer; }
  .customers .customers-inner img {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; }
  .customers .customers-inner .qoute {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff; }
    .customers .customers-inner .qoute p {
      padding: 50px;
      background-color: #cacaca;
      text-align: left;
      border-radius: 15px; }
    .customers .customers-inner .qoute .circle {
      display: block;
      width: 90px;
      height: 90px;
      background: #e6e6e6;
      border-style: solid;
      border-width: 3px;
      -moz-border-radius: 45px;
      -webkit-border-radius: 45px;
      border-color: #fff;
      text-align: center;
      line-height: 85px;
      margin: 0 auto;
      margin-bottom: 20px;
      position: relative;
      top: 60px; }
      .customers .customers-inner .qoute .circle img {
        text-align: center; }

.social {
  background-color: #696969;
  padding-bottom: 50px;
  border-top: solid 1px #cacaca; }
  .social .social-inner {
    padding-left: 0;
    margin-left: 0; }
    .social .social-inner h1 {
      text-align: left;
      font-size: 2em;
      font-family: helveticaLight;
      color: #2a2a2a;
      padding-top: 30px;
      padding-bottom: 20px; }
    .social .social-inner span {
      font-size: 1em;
      text-align: left;
      font-family: helveticaLight;
      display: block;
      padding-left: 10px; }
    .social .social-inner h2 {
      font-size: 1.2em;
      text-align: left;
      font-family: helveticaRegular;
      color: #fff;
      background-color: #2a2a2a;
      display: inline;
      padding: 15px 30px 15px 30px;
      margin-left: 0;
      -moz-border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px;
      /* future proofing */
      -khtml-border-radius: 0px 5px 5px 0px;
      /* for old Konqueror browsers */
      line-height: 60px; }
    .social .social-inner h3 {
      font-size: 1.2em;
      text-align: left;
      font-family: helveticaLight;
      color: #fff;
      background-color: #2a2a2a;
      padding: 15px 30px 15px 30px;
      -moz-border-radius: 0px 5px 5px 0px;
      -webkit-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px;
      -khtml-border-radius: 0px 5px 5px 0px; }
      .social .social-inner h3 span {
        display: inline;
        font-size: .8em;
        text-align: center;
        font-family: helveticaMedium;
        color: #fff; }
  .social .blog-1 {
    height: auto;
    width: 100%;
    background: url(../img/blog1BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin-bottom: 21px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px; }
  .social .blog-2 {
    height: auto;
    width: 100%;
    background: url(../img/blog2BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-right: 40px; }
  .social .twitter-plugin {
    background-color: #fff;
    max-width: 520px;
    height: 475px;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 2px;
    padding: 0; }

footer {
  background-color: #2a2a2a;
  padding-top: 100px;
  border-top: solid 1px #cacaca; }
  footer .footer-brand p {
    color: #9a9a9a;
    font-size: 1.2em; }
  footer .footer-brand .social-icon {
    padding-right: 20px; }
  footer .footer-menu-links {
    text-align: center; }
    footer .footer-menu-links a {
      color: #9a9a9a; }
  footer .footer-menu-links ul {
    list-style: none; }
    footer .footer-menu-links ul li {
      color: #9a9a9a; }
      footer .footer-menu-links ul li span a {
        display: block;
        color: #558e28;
        font-weight: bold; }
  footer .footer-contact p {
    color: #558e28; }
  footer .footer-contact a {
    color: #558e28; }
  footer .footer-contact img {
    float: right;
    position: relative; }
  footer .footer-contact #phone {
    top: 0px; }
  footer .footer-contact #address {
    top: 30px; }
  footer .footer-contact #email {
    top: 20px; }
  footer .footer-contact #email-text {
    padding-top: 20px; }
  footer .sub-footer {
    background-color: #000;
    margin-top: 100px; }
    footer .sub-footer p {
      text-align: center;
      color: #888888;
      font-size: 1em;
      padding-top: 30px;
      padding-bottom: 30px; }

.profile-select {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #2a2a2a;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #558e28; }
  .profile-select .line {
    background-color: transparent;
    height: 2px;
    border-top-style: dashed;
    border-top-color: #558e28;
    border-top-width: 2px;
    position: relative;
    top: 150px;
    width: 40%;
    margin: 0 auto; }
  .profile-select h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: helveticaRegular;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px; }
  .profile-select h2 {
    margin-top: 30px;
    font-size: 1em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px; }

.profile-owner-solid {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/yourstest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition-duration: 1s; }

.profile-service-provider-solid {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/sptest.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #558e28;
  transition-duration: 1s; }

.profile-owner-selected {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/yoursWhite.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition-duration: 1s; }

.profile-service-provider-selected {
  display: block;
  width: 100px;
  height: 100px;
  background: #558e28;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-image: url(../img/SPWhite.png);
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: #558e28;
  transition-duration: 1s; }

.benefits-top {
  background-color: #fff; }

.benefits-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: solid 2px #558e28;
  background-color: #558e28;
  line-height: 90px;
  text-align: center;
  display: inline-block; }

.feature-one-platform, .feature-analytics {
  padding-bottom: 50px;
  background-color: #fff;
  color: #2a2a2a;
  border-bottom: solid 1px #cacaca; }

.feature-analytics {
  padding-top: 50px; }

.feature-flexible-reporting, .feature-project-tracking {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6e6;
  border-bottom: solid 1px #cacaca; }
  .feature-flexible-reporting h1, .feature-flexible-reporting h2, .feature-flexible-reporting h3, .feature-flexible-reporting p, .feature-project-tracking h1, .feature-project-tracking h2, .feature-project-tracking h3, .feature-project-tracking p {
    color: #2a2a2a; }

.feature-cta {
  background-color: #fff; }

.benefits-triangle-inner {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 36px solid #2a2a2a;
  position: relative;
  top: -44px;
  padding-bottom: 0;
  margin-bottom: 0; }

.benefits-icon {
  display: inline-block;
  margin-bottom: 18px !important; }

.benefits h1 {
  display: inline-block;
  font-size: 2em;
  text-align: left;
  font-family: helveticaLight;
  padding-left: 20px; }
.benefits h2 {
  display: inline-block;
  font-size: 1.2em;
  text-align: left;
  font-family: helveticaRegular;
  margin-bottom: 25px; }
.benefits h3 {
  font-size: 1.2em;
  font-family: helveticaRegular; }
.benefits p {
  font-size: 1em;
  font-family: helveticaLight; }

.benefits-inner img {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px; }
.benefits-inner p {
  display: inline-block;
  font-size: 1em;
  padding-left: 10px; }
.benefits-inner i {
  font-size: 2em;
  position: relative;
  top: 5px; }

.benefits-cta {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }

.ghost-button-benefits-cta {
  display: inline-block;
  width: 150px;
  padding: 8px;
  margin-right: 50px;
  color: #fff;
  background-color: #558e28;
  border: 2px solid #558e28;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: helveticaLight;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 20px;
  transition-duration: 1s;
  border-radius: 20px; }

.ghost-button-benefits-cta:hover {
  background-color: transparent;
  color: #558e28;
  transition-duration: 1s;
  text-decoration: none;
  border-color: #558e28; }

.pricing-top {
  background-color: #fff; }

.pricing {
  background-color: #fff; }
  .pricing .pricing-heading h1 {
    display: inline-block;
    font-size: 2em;
    text-align: left;
    font-family: helveticaLight;
    color: #2a2a2a;
    position: relative;
    bottom: 30px;
    padding-left: 20px; }
  .pricing .pricing-heading h2 {
    font-size: 1em;
    text-align: left;
    font-family: helveticaRegular;
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 40px; }
  .pricing .pricing-heading .profile-pricing-owner {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/yoursWhite.png);
    background-size: 60px 60px;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition-duration: 1s; }
  .pricing .pricing-heading .profile-pricing-service-provider {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/spWhite.png);
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: #558e28;
    transition-duration: 1s; }
  .pricing h1 {
    font-size: 2em;
    text-align: center;
    font-family: helveticaThin;
    color: #2a2a2a; }
    .pricing h1 a {
      text-decoration: none;
      color: #2a2a2a; }
  .pricing h2 {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaThin;
    color: #2a2a2a; }
  .pricing .pricing-hr {
    margin-top: 40px;
    margin-bottom: 40px; }
  .pricing .form-heading {
    margin-bottom: 30px; }
  .pricing .circle-pricing {
    display: block;
    width: 70px;
    height: 70px;
    background: #558e28;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: helveticaThin; }
  .pricing .stop-calculator {
    background-color: #fff;
    height: 30px; }
  .pricing .calculator {
    background-color: #e6e6e6;
    border: 4px solid #558e28;
    border-radius: 25px; }
    .pricing .calculator h1 {
      color: #2a2a2a;
      background-color: #cacaca;
      margin-top: 0;
      border: 2px solid #cacaca;
      border-radius: 17px 17px 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom-color: #558e28;
      font-family: helveticaThin; }
    .pricing .calculator .overview {
      text-align: center; }
      .pricing .calculator .overview i {
        font-size: 3em;
        color: #558e28; }
      .pricing .calculator .overview p {
        font-family: helveticaRegular;
        font-size: 1.2em;
        color: #558e28; }
    .pricing .calculator .free-feeds {
      text-align: center; }
      .pricing .calculator .free-feeds p {
        font-family: helveticaRegular;
        font-size: 1.2em;
        color: #558e28; }
    .pricing .calculator .total-cost h1 {
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top-color: #558e28;
      margin-bottom: 0;
      font-size: 2em; }
    .pricing .calculator .total-cost h2 {
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      font-size: 1.2em;
      margin-bottom: 0; }
    .pricing .calculator .total-cost h3 {
      text-align: center;
      color: #2a2a2a;
      background-color: #cacaca;
      border: 2px solid #cacaca;
      border-radius: 0 0 0 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      font-size: .9em;
      margin-bottom: 0; }
  .pricing .calculator-bottom .checkbox {
    text-align: center;
    color: #2a2a2a;
    background-color: #cacaca;
    border: 2px solid #cacaca;
    border-radius: 0 0 17px 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: .9em;
    margin-bottom: 0; }

.calculator-small {
  padding-top: 5px;
  border-top: solid 2px #558e28;
  background-color: #2a2a2a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  text-align: center; }
  .calculator-small i {
    color: #558e28;
    font-size: 2em; }
  .calculator-small p {
    font-size: 1.2em;
    font-family: helveticaRegular;
    color: #558e28; }
  .calculator-small .output {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

form {
  text-align: center; }
  form #sites, form #feeds {
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 20px; }
  form .customer {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 15px; }
  form #submit-btn {
    margin-top: 15px;
    margin-bottom: 40px; }
  form #submit-btn-service-provider {
    margin-top: 15px;
    margin-bottom: 60px; }

.top-banner-about {
  min-height: auto;
  background: url(../img/newbg31.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px;
  border-bottom: solid 1px #cacaca; }
  .top-banner-about .top-banner-inner-left h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .top-banner-about .top-banner-inner-left h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }

.about-page {
  padding-top: 40px;
  border-bottom: solid 1px #cacaca; }
  .about-page p {
    font-family: helveticaRegular; }
  .about-page h1 {
    font-size: 2em;
    text-align: center;
    font-family: helveticaLight;
    padding-bottom: 30px; }
  .about-page h2 {
    font-size: 1.8em;
    text-align: left;
    font-family: helveticaThin;
    color: #000;
    padding-bottom: 20px; }
  .about-page .about-us {
    padding-top: 50px; }
  .about-page .mission {
    font-size: 1.2em;
    text-align: center;
    font-family: helveticaLight;
    color: #fff; }
    .about-page .mission p {
      padding: 50px;
      background-color: #cacaca;
      text-align: left;
      border-radius: 15px;
      position: relative;
      top: -40px; }
    .about-page .mission .mission-circle {
      z-index: 1;
      display: block;
      width: 90px;
      height: 90px;
      background: #e6e6e6;
      border-style: solid;
      border-width: 3px;
      -moz-border-radius: 45px;
      -webkit-border-radius: 45px;
      border-color: #fff;
      text-align: center;
      line-height: 85px;
      margin: 0 auto;
      position: relative;
      top: 0px; }
      .about-page .mission .mission-circle img {
        text-align: center; }
  .about-page .awards {
    padding-bottom: 20px; }
    .about-page .awards p {
      padding-top: 20px;
      text-align: center;
      font-weight: bolder; }
    .about-page .awards .img-responsive {
      max-width: 200px;
      height: auto;
      margin: 0 auto; }
  .about-page .team-pic {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: lightgrey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .about-page .team-pic-nic {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: lightgrey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-image: url(../img/Nic_on_holiday.png);
    background-size: 100px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }

.the-team {
  background-color: #e6e6e6;
  padding-bottom: 30px; }
  .the-team p {
    text-align: center; }
  .the-team .team-copy {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left; }

.about-cta {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #e3e3e3; }

.top-banner-contact {
  min-height: auto;
  background: url(../img/newbg51.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 90px;
  border-bottom: solid 1px #cacaca; }
  .top-banner-contact .top-banner-inner-left h1 {
    color: #2a2a2a;
    -webkit-text-fill-color: #2a2a2a;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    font-family: helveticaMedium;
    font-size: 6.2em;
    padding: 20px; }
  .top-banner-contact .top-banner-inner-left h2 {
    color: #2a2a2a;
    font-family: helveticaLight;
    font-size: 2em;
    padding: 20px;
    line-height: 40px; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.contact-page {
  padding-top: 40px;
  padding-bottom: 60px; }
  .contact-page h1 {
    font-size: 2em;
    font-family: helveticaLight;
    color: #2a2a2a;
    text-align: center; }
  .contact-page h2 {
    font-size: 1.2em;
    text-align: left;
    font-family: helveticaRegular;
    color: #2a2a2a;
    text-align: center; }
  .contact-page p {
    font-size: 1em;
    font-family: helveticaLight;
    color: #2a2a2a;
    text-align: center; }
  .contact-page a {
    text-decoration: none;
    color: #2a2a2a; }

.circle-contact {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #558e28;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  text-align: center;
  margin-top: 20px; }
  .circle-contact img {
    margin-top: 20px; }

.circle-contact-social {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #2a2a2a;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  text-align: center;
  margin-top: 20px; }
  .circle-contact-social img {
    margin-top: 20px; }

.follow {
  margin-top: 30px;
  margin-bottom: 30px; }

.blog {
  margin-top: 60px; }
  .blog .blog-main {
    padding-bottom: 60px; }
    .blog .blog-main h1 {
      font-size: 2em;
      text-align: left;
      font-family: helveticaThin;
      color: #2a2a2a;
      margin-bottom: 15px; }
    .blog .blog-main .blog-post {
      padding-bottom: 60px; }
      .blog .blog-main .blog-post .who-post .blog-circle {
        width: 60px;
        height: 60px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        background-image: url(../img/Nic_on_holiday.png);
        background-size: 60px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition-duration: 1s; }
      .blog .blog-main .blog-post .who-post p {
        margin: 0;
        margin-top: 9px;
        color: #2a2a2a;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post .who-post span {
        margin: 0;
        color: #696969;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post p {
        color: #2a2a2a;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post img {
        margin-top: 10px;
        margin-bottom: 20px; }
      .blog .blog-main .blog-post span {
        color: #696969;
        font-family: helveticaRegular; }
      .blog .blog-main .blog-post em {
        font-size: 1.2em;
        display: block; }
      .blog .blog-main .blog-post .img-float-right {
        float: right;
        padding-left: 20px;
        padding-top: 0;
        margin-top: 0; }
      .blog .blog-main .blog-post .img-float-left {
        float: left;
        padding-right: 20px;
        padding-top: 0;
        margin-top: 0; }
  .blog .blog-side {
    text-align: right; }
    .blog .blog-side h1 {
      font-size: 2em;
      font-family: helveticaThin;
      color: #2a2a2a;
      margin-bottom: 15px;
      padding: 0; }
    .blog .blog-side p {
      color: #2a2a2a;
      font-family: helveticaRegular;
      padding: 10px 0 0 0;
      margin: 0; }
    .blog .blog-side span {
      color: #696969;
      font-family: helveticaRegular; }

@media (max-width: 1200px) {
  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 50%; }
    .pricing form .customer {
      width: 70%; }

  .benefits-circle {
    display: block !important;
    margin-left: auto;
    margin-right: auto; }

  .benefits {
    text-align: center; }
    .benefits h1 {
      padding-left: 0 !important;
      display: block;
      text-align: center; }
    .benefits h2 {
      padding-bottom: 15px; }
    .benefits p {
      padding-bottom: 10px; }
    .benefits img {
      margin: 0 auto; }
    .benefits .benefits-inner {
      text-align: center; }
      .benefits .benefits-inner i {
        display: block; }

  .features .features-inner h2 {
    padding-left: 10px;
    padding-right: 10px; }

  .profiles .profiles-inner h2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px; } }
@media (max-width: 1000px) {
  .profile-select h1 {
    font-size: 1.2em !important; }
  .profile-select h2 {
    padding: 0 30px 0 30px !important; }
  .profile-select .line {
    display: none; }

  .features .line {
    display: none; }
  .features .features-slider {
    display: none; }
  .features .features-inner .one-platform-icon, .features .features-inner .flexible-reporting-icon, .features .features-inner .analytics-icon, .features .features-inner .project-tracking-icon {
    cursor: default !important; }
  .features .features-inner .one-platform-icon:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/onePlatform.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .flexible-reporting-icon:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flexibleReporting.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .analytics-icon:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytics.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .project-tracking-icon:hover {
    cursor: default !important;
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/projectTracking.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .one-platform-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/onePlatform.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .flexible-reporting-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/flexibleReporting.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .analytics-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/analytics.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; }
  .features .features-inner .project-tracking-icon-selected {
    display: block;
    width: 80px;
    height: 80px;
    background: #558e28;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-image: url(../img/projectTracking.png);
    background-size: 45px 45px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: default !important;
    transition-duration: 1s;
    -mox-box-shadow: 0px 0px 0px 0px #558e28;
    -webkit-box-shadow: 0px 0px 0px 0px #558e28;
    box-shadow: 0px 0px 0px 0px #558e28; } }
@media (max-width: 992px) {
  .customers-inner .customer-logos {
    text-align: center; }

  .top-banner .top-banner-inner-left {
    text-align: center; }
    .top-banner .top-banner-inner-left h1 {
      text-align: left; }
    .top-banner .top-banner-inner-left h2 {
      text-align: left; }
    .top-banner .top-banner-inner-left .ghost-button {
      margin-right: 30px;
      margin-left: 30px; }

  footer .footer-brand {
    text-align: center; }
    footer .footer-brand .ed-logo {
      width: 400px; }
  footer .footer-menu-links {
    padding: 0;
    padding-top: 20px;
    text-align: center; }
    footer .footer-menu-links ul {
      list-style: none;
      padding-left: 0; }
  footer .footer-contact {
    text-align: center;
    margin: 0; }
    footer .footer-contact p {
      color: #558e28; }
    footer .footer-contact #phone {
      display: none; }
    footer .footer-contact #address {
      display: none; }
    footer .footer-contact #email {
      display: none; }
    footer .footer-contact #email-text {
      padding-top: 0px; } }
@media (max-width: 991px) {
  .ideal {
    margin-top: 20px; }

  .map {
    margin-bottom: 15px; }

  .blog-side {
    text-align: left !important;
    padding-bottom: 40px !important; }

  .blog-main {
    padding-bottom: 20px !important; }

  footer {
    padding-top: 30px; }
    footer .sub-footer {
      margin-top: 30px; } }
@media (max-width: 768px) {
  .navbar-sign-up {
    margin-left: 10px; }

  .navbar-log-in {
    margin-right: 0px;
    margin-left: 20px; } }
@media (max-width: 767px) {
  #bs-example-navbar-collapse-1 {
    background: #fff;
    overflow: scroll; }

  .navbar-collapse.collapse.in ul li a {
    padding: 20px; }
  .navbar-collapse.collapse.in ul .bottom-border a {
    border-bottom: dotted 1.1px #cacaca !important; }
  .navbar-collapse.collapse.in ul .top-border a {
    border-top: dotted 1.1px #cacaca !important; }

  .awards .img-responsive {
    padding-top: 20px; }

  .the-team .team-copy {
    padding-left: 40px !important;
    padding-right: 40px !important; }

  .calculator {
    display: none; }

  #pricingFooter {
    margin-bottom: 110px; } }
@media (max-width: 750px) {
  .customers-inner .customer-logos img {
    width: 40px;
    height: auto; }

  footer .ed-logo {
    width: 50% !important; }

  .top-banner-inner-left h1 {
    font-size: 3.5em !important; } }
@media (max-width: 650px) {
  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 50%; }
    .pricing form .customer {
      width: 60%; }

  .profile-pricing-owner {
    display: block !important; }

  .profile-pricing-service-provider {
    display: block !important; }

  .pricing-heading {
    text-align: center; }
    .pricing-heading h1 {
      padding: 0 !important;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
      bottom: 0 !important; }
    .pricing-heading hr {
      margin-top: 0 !important; } }
@media (max-width: 550px) {
  .profile-select h1 {
    padding-bottom: 0 !important; }
  .profile-select h2 {
    display: none; } }
@media (min-width: 460px) {
  .log-in-collapse {
    display: none !important; }

  .sign-up-collapse {
    display: none !important; } }
@media (max-width: 460px) {
  .navbar-log-in {
    display: none; }

  .navbar-sign-up {
    display: none; }

  .sign-up-collapse {
    margin-right: 0px !important; } }
@media (min-width: 461px) and (max-width: 767px) {
  .navbar-sign-up, .navbar-log-in {
    display: none; } }
@media (max-width: 460px) {
  .top-banner {
    padding-top: 30px;
    padding-bottom: 0px; }
    .top-banner h1 {
      margin-top: 30px !important;
      margin-bottom: 20px;
      padding: 0 !important; }
    .top-banner h2 {
      margin: 0 !important;
      padding: 0 !important; }
    .top-banner .ghost-button {
      margin-bottom: 0 !important; }
    .top-banner .top-banner-inner-right {
      margin-top: 0; }
    .top-banner .video-wrapper {
      margin-top: 0px; }

  .navbar-log-in-sm {
    display: none !important; }

  .navbar-sign-up-sm {
    display: none !important; }

  .profiles h1 {
    padding-top: 10px;
    padding-bottom: 0px; }

  .profiles-inner h1 {
    margin-top: 10px;
    margin-bottom: 20px; }

  .profiles-inner h2 {
    padding-top: 5px !important; }

  .signUpTxt {
    display: none; }

  .profiles hr {
    margin-top: 40px; }

  .profiles {
    padding-bottom: 40px; }

  .features {
    padding-top: 0;
    padding-bottom: 30px; }
    .features h1 {
      padding-top: 10px; }

  .features-inner h1 {
    font-size: 1.4em !important; }

  .customers {
    padding-bottom: 30px; }
    .customers h1 {
      padding-top: 20px; }

  .qoute p {
    padding: 50px 30px 30px 30px !important; }

  .social {
    padding-bottom: 30px; }
    .social .social-inner {
      margin: 0;
      padding: 0; }
      .social .social-inner h1 {
        padding-top: 15px; }
      .social .social-inner h2 {
        display: block;
        line-height: 20px;
        padding: 10px;
        margin: 0;
        border-radius: 10px; }
      .social .social-inner h3 {
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px; }
      .social .social-inner .blog-1 {
        padding: 20px 20px 10px 20px;
        margin-bottom: 20px; }
      .social .social-inner .blog-2 {
        padding: 20px 20px 10px 20px;
        margin-bottom: 0; }

  footer {
    padding-top: 30px; }
    footer .social-icon {
      padding: 5px !important; }
    footer .sub-footer {
      margin-top: 30px; }
      footer .sub-footer p {
        padding-bottom: 20px; } }
@media (max-width: 400px) {
  .calculator-small p {
    font-size: 1em !important; }

  .pricing form {
    text-align: center; }
    .pricing form #sites, .pricing form #feeds {
      width: 80% !important; }
    .pricing form .customer {
      width: 80% !important; }

  .profile-select {
    padding-top: 70px !important; }
    .profile-select h1 {
      display: none; } }
@media (max-width: 300px) {
  .profile-owner-solid {
    display: block;
    width: 70px !important;
    height: 70px !important;
    background: #558e28;
    -moz-border-radius: 35px !important;
    -webkit-border-radius: 35px !important;
    background-image: url(../img/yourstest.png);
    background-size: 50px 50px !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition-duration: 1s; } }
@media (max-width: 272px) {
  .EnergyDeck-logo {
    width: 100px;
    height: auto; }

  .navbar-brand {
    padding-top: 16px; } }

/*# sourceMappingURL=style.css.map */
