//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue

//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}

html { -webkit-font-smoothing: antialiased; }

//NAV BAR ///////////////////////////////////////////
.EnergyDeckLogo {
		width: 182.4px;
		height: 36px;
	}

.navbar-brand {
//move the logo up
    padding-top: 7px;
	}

.navbar {
// make the navbar transparent
   background: rgba(255, 255, 255, 0.9);
	}

.navbar-signUp {

	margin-left: 10px;
}

.navbar-signUp2 {

	margin-right: 10px;
}

.navbar-logIn {
	margin-right: 0px;
	margin-left: 20px;
}

.navbar-logInSm {
	float: right;
	margin-right: 20px;
	margin-left: 10px;
}


//TOP BANNER//////////////////////////////////////	
.topBanner {
	min-height: auto;
	//background: url(../img/banner22.jpg) no-repeat center center fixed; 
	background: url(../img/newbg26.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: $colour2;
  	padding-bottom: 100px;
  	padding-top: 90px;
	.topBannerInnerLeft {
			h1 {
				   color: $colour4;
   -webkit-text-fill-color: $colour4; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #fff;
				//color: $colour4;
				font-family: helveticaMedium;
				font-size: 6.2em;
				padding: 20px;
			}
			h2 {
								   //color: #fff;
  // -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
 //  -webkit-text-stroke-width: 0.5px;
 //  -webkit-text-stroke-color: $colour4;
				color: $colour4;
				font-family: helveticaLight;
				font-size: 2em;
				//font-size: 2em;
				padding: 20px;
				line-height: 40px;
			}
			.ghost-button {
	  			display: inline-block;
	  			width: 150px;
	  			padding: 8px;
	  			margin: 20px;
	  			border-radius: 25px;
	  			color: #fff;
	  			text-align: center;
	  			outline: none;
	  			text-decoration: none;
	  			font-family: helveticaLight;
	  			font-size: 1.2em;
	  			transition-duration: 1s;
	  			background-color: $colour2;
	  			border: solid 2px #fff;
			}
			.ghost-button:hover {
				border: solid 2px $colour4;
	  			background-color: $colour2;
	  			transition-duration: 1s;
	  			color: #fff;
			}
		}
	.topBannerInnerRight {
		margin-top: 50px;
		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

//FEATURES/////////////////////////////////////

.triangle {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 40px solid $colour2;
}
.triangleInner {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 36px solid #fff;
	position: relative;
	top: -44px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.features {
	padding-top: 20px;
	padding-bottom: 30px;
	.line {
		background-color: transparent;
		height: 2px;
		border-top-style: dashed;
		border-top-color: $colour2;
		border-top-width: 2px;
		position: relative;
		top: 120px;
		width: 80%;
		margin: 0 auto;

	}
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		color: $colour4;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	.featuresInner {
		h1{
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			color: $colour4;
			margin-bottom: 15px;
		}
		h2{
			margin-top: 15px;
			font-size: .9em;
			text-align: center;
			font-family: helveticaLight;
			margin-bottom: 20px;
			padding-left: 20px;
			padding-right: 20px;
			color: $colour4;
		}
	.circletag1 {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/one-white.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
		}
	.circletag1:hover {
		background: #ffffff;
		-moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
		background-image: url(../img/one.png);
		background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;
	}
	.circletag2 {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/reporting-white.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;   
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
		}
	.circletag2:hover {
		background: #ffffff;
		-moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
		background-image: url(../img/flex.png);
		background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;
	}
	.circletag3 {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/analytic-white.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;    
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
		}
	.circletag3:hover {
		background: #ffffff;
		-moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
		background-image: url(../img/analytic.png);
		background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;
	}
	.circletag4 {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/project-white.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;    
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
		}
		.circletag4:hover {
		background: #ffffff;
		-moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
		background-image: url(../img/project.png);
		background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;
		}
			.circletag1Select {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: #FFFFFF;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/one.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;

		}
			.circletag2Select {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: #FFFFFF;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/flex.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;

		}
			.circletag3Select {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: #FFFFFF;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/analytic.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;

		}
			.circletag4Select {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: #FFFFFF;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/project.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: pointer;
	    transition-duration: 0.25s;
	    	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
    box-shadow: 0px 0px 1px 2px $colour2;

		}
	}
	.carousel-control.left, .carousel-control.right {
    	background-image: none !important;
	}
	.featuresSlider {
		padding-bottom: 30px;
		.slider {
			.slide {
				.carousel-inner {
					.item {
						border-top-style: solid;
						border-top-width: 4px;
						border-top-color: $colour2;
						
						background-color: #f9f9f9;//#fff;
						width: 100%;
						height: 300px; //500
						.analyticsSlide {
							h1 {
								text-align: center;
								margin-top: -20px;
							}
							img {
								display: block;
								margin: 0 auto;
								padding-top: 20px;
								padding-bottom: 20px;
							}
							p {
								text-align: center;
							}

						}
					}
				}
			}
		}
	}
}
#myCarousel {
	i {
		font-size: 3em;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		color: $colour2;
	}
}

//PROFILES//////////////////////////////////////////////
.circletagYours {
		    display: block;
		    width: 100px;
		    height: 100px;
		    background: $colour2;
		    -moz-border-radius: 50px;
		    -webkit-border-radius: 50px;
		    background-image: url(../img/yourstest.png);
		    background-size: 75px 75px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    transition-duration: 1s;
		}

.circletagSomeoneElse {
		    display: block;
		    width: 100px;
		    height: 100px;
		    background: $colour2;
		    -moz-border-radius: 50px;
		    -webkit-border-radius: 50px;
		    background-image: url(../img/sptest.png);
		    background-size: 75px 75px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    border-style: solid;
		    border-width: 2px;
		    border-color: $colour2;
		    transition-duration: 1s;
		}
.profiles {
	background-color: $colour4;
	padding-bottom: 60px;
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		padding-bottom: 30px;
		padding-top: 30px;
		color: #fff;
	}
	.right {
	border-right: 1px solid #ccc;
}
hr {
	margin-top: 50px;
}
.row {
	padding: 0;
	margin: 0;
}
	.profilesInner {
		text-align: center;


		h1{
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			//font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #fff;
			padding-bottom: 0px;
			padding-top: 0px;
		}
		h2{
			margin-top: 15px;
			font-size: 1em;
			text-align: center;
			font-family: helveticaLight;
			//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #fff;
			padding-left: 100px;
			padding-right: 100px;
		}
		.sign-up {
			color: #fff;
		}
		.borderLeft {
			border-left: 2px solid #d1d1d4;
  position: absolute;
  top: 10%;
  bottom: 10%;
}

		.ghost-button-learn {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		border: 2px solid #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		margin-bottom: 15px;
	  		transition-duration: 1s;
	  		i {
	  			font-size: 1.2em;
	  			position: relative;
	  			top: 2px;
	  		}
		}
		.ghost-button-learn:hover {
			color: $colour2;
	  		border: 2px solid $colour2;
	  			transition-duration: 1s;
			}
		.ghost-button-go {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		//background-color: #23f167; //BRIGHT GREEN
	  		//background-color: #ff7636; //ORANGE
	  		//background-color: #31b35c; //GREEN
	  		background-color: $colour2;
	  		border: 2px solid $colour2;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		transition-duration: 1s;
	  		border-radius: 20px;
		}
		.ghost-button-go:hover {
	  			background-color: $colour4;
	  			color: $colour2;
	  			transition-duration: 1s;
			}

		
	}
}

//CUSTOMERS/////////////////////////////////////////
.customers {
	//background-color: $colour1;
	//border-top-color: pink;
	//border-top-style: solid;
	//border-top-width: 20px;
	background-color: #fff;
	padding-bottom: 40px;
	h1 {
		text-align: center;
		font-size: 2.4em;
		font-family: helveticaLight;
		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		color: $colour4;
		padding-top: 30px;
		padding-bottom: $sectionPadding;	
	}
		.customersInner {
			//text-align: center;
			a {
				text-decoration: none;
				cursor: pointer;
			}
			img {
				margin-left: 10px;
				margin-right: 10px;
			//	margin: 0;
			//	display: inline-block;
				//margin: 0 auto;
			//	width: 100px;
			//	height: auto;
				cursor: pointer;
			}
			.qoute {

				//padding-top: 20px;
				font-size: 1.2em;
				text-align: center;
				font-family: helveticaLight;
				//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
				color: #fff;
				//position: relative;
				//height: 10em;
				p {
					padding: 50px;
					background-color: $colour6;
					text-align: left;
					border-radius: 15px;
					//position: absolute;
					//top: 50%;
					//transform: translate(0, -50%);
				}
				.circle {
					display: block;
		    		width: 90px;
		    		height: 90px;
		    		background: $colour5;
		    		border-style: solid;
		    		border-width: 3px;
		    		-moz-border-radius: 45px;
		    		-webkit-border-radius: 45px;
		    		border-color: #fff;
		   			text-align: center;
		   			line-height: 85px;
		   			margin: 0 auto;
		    		margin-bottom: 20px;
		    		position: relative;
		    		top: 60px;
		    	img {
					text-align: center;
				}
			}
			}
		}
}
	.caseStudyContainer{
		margin-top: 50px;
		margin-bottom: $sectionPadding;
		.caseStudy {
			height: 350px;
			border-style: solid;
		    border-width: 2px;
		    border-color: #54abc7;
		    background-color: #fff;
		    transition-duration: 2s;
		    outline-style: solid;
		    outline-color: #54abc7;
		    outline-width: 2px;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    .innerCaseStudy {
		    	.ghost-button-read {
			  		display: inline-block;
			  		width: 150px;
			  		padding: 8px;
			  		margin-right: 50px;
			  		color: #36393e;
			  		border: 2px solid #36393e;
			  		text-align: center;
			  		outline: none;
			  		text-decoration: none;
			  		font-family: helveticaLight;
			  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			  		font-size: 1.2em;
			  		margin: 0 auto;
			  		margin-top: 20px;
			  		background-color: #ffffff;
			  		transition-duration: 1s;
					}
				.ghost-button-read:hover {
			  		background-color: $accent1;
			  		transition-duration: 1s;

					}
				.btn-right {
					float: right;
				}
				.btn-left {
					float: left;
				}
				.reduction {
					position: absolute;
					left: 105px;
					top: 105px;
				}
				.waste {
					position: absolute;
					left: 70px;
					top: 120px;
				}
				.output {
					position: absolute;
					left: 75px;
					top: 105px;
					width: 35%;
					text-align: center;
				}
				.ghost-button-all-cases {
					//clear: both;
			  		display: block;
			  		width: 250px;
			  		padding: 18px;
			  		//margin-right: 50px;
			  		color: #36393e;
			  		border: 2px solid #36393e;
			  		text-align: center;
			  		outline: none;
			  		text-decoration: none;
			  		font-family: helveticaLight;
			  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			  		font-size: 1.2em;
			  		margin-left: auto;
			  		margin-right: auto;
			  		//margin: 0 auto;
			  		margin-top: 20px;
			  		background-color: #ffffff;
			  		transition-duration: 1s;
			  		position: relative;
			  		top: 95px;
					}
				.ghost-button-all-cases:hover {
			  		background-color: $accent1;
			  		transition-duration: 1s;
					}
				.caseLogo {
					margin-bottom: 10px;
				}
				p {
					padding-bottom: 10px;
				}
				}
				.caseGraph {
					margin-top: 20px;
				}
			}

		.caseStudy:hover {
			height: 350px;
			border-style: solid;
		    border-width: 2px;
		    border-color: $accent1;
		    background-color: $accent1;
		    transition-duration: 2s;
		    outline-style: solid;
		    outline-color: $accent1;
		    outline-width: 2px;
		}
		.caseStudySlider {
			#caseStudyCarousel {
				ol {
					bottom: 5px;
				}
				.carousel-inner {
					.item {
						height: 400px;
						background-color: #fff;
						width: 100%;
						.caseStudyLogo {
							//sit logo at top left
							position: relative;
							//sit logo at top left
							text-align: left;
							height: 50px;
							margin-top: 30px;
							margin-left: 30px;
						}
						.caseStudySlide {
							height: auto;
							padding-top: 20px;
							text-align: center;
							p {
								margin-left: 30px;
								text-align: left;
							}
							img {
								display: block;
								margin: 0 auto;
								padding-bottom: 5px;
							}
							span {

							}
						}
						.caseStudySlideBottom {
							//sit button at bottom
							position: relative;
							//sit button at bottom
							text-align: center;
							height: 100px;
							padding-top: 30px;
							.ghost-button-read {

								//sit button at bottom

    							//sit button at bottom
								display: inline-block;
						  		width: 150px;
						  		padding: 8px;
						  		//margin-right: 50px;
						  		color: #36393e;
						  		border: 2px solid #36393e;
						  		text-align: center;
						  		outline: none;
						  		text-decoration: none;
						  		font-family: helveticaLight;
						  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
						  		font-size: 1.2em;
						  		margin: 0 auto;
						  		//margin-top: 20px;
						  		background-color: #ffffff;
						  		transition-duration: 1s;
							}
							.ghost-button-read:hover {
						  		background-color: $accent1;
						  		transition-duration: 1s;
						  		color: #fff;
							}
						}

					}
				}
				.carousel-control.left, .carousel-control.right {
    				background-image: none !important;
    				width: 30px;
				}	
			}
		}
	}

//SOCIAL////////////////////////////////////////////
.social {
	//background-color: #dadada;
	//background-color: $colour1;
	background-color: $colour3;
	padding-bottom: 50px;
	.socialInner {
				padding-left: 0;
		margin-left: 0;

		h1 {
		text-align: left;
		font-size: 2em;
		font-family: helveticaLight;
		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		color: $colour4;
		padding-top: 30px;
		padding-bottom: 20px;	
	}
	span {

			font-size: 1em;
			text-align: left;
			font-family: helveticaLight;
			//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			display: block;
			//margin-bottom: 40px;
			padding-left: 10px;
	}
		h2 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaRegular;
			//font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #fff;
			background-color: $colour4;
			display: inline;
			padding: 15px 30px 15px 30px;
			margin-left: 0;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px; /* future proofing */
			-khtml-border-radius: 0px 5px 5px 0px; /* for old Konqueror browsers */
			line-height: 60px;


		}
		h3{
			//margin-left: 0;
			//margin-right: 0;
			//margin-top: 60px;
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaLight;
			//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #fff;
			background-color: $colour4;
			//margin-bottom: 0;
			padding: 15px 30px 15px 30px;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px; /* future proofing */
			-khtml-border-radius: 0px 5px 5px 0px; /* for old Konqueror browsers */
			span {
				display: inline;
			font-size: .8em;
			text-align: center;
			font-family: helveticaMedium;
			//font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #fff;
			}
		}

	}

	.blog1 {

		height: auto;
		width: 100%;
	background: url(../img/blog1BG.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding: 0;
  	margin-bottom: 21px;
  	padding-top: 40px;
  	padding-bottom: 30px;
  	padding-right: 40px;

	}

		.blog2 {
		height: auto;
		width: 100%;
	background: url(../img/blog2BG.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding: 0;
  	padding-bottom: 30px;
  	padding-top: 40px;
	padding-right: 40px;

	}
		.twitterPlugin {
			background-color: #fff;
			max-width: 520px;
			height: 475px;
			border-style: solid;
			border-color: #e6e6e6;
			border-width: 2px;
			padding: 0;
		}
}
//FOOTER//////////////////////////////////////////
footer {
	background-color: $colour4;
	padding-top: 100px;
	.footerBrand {
		p {
			color: #9a9a9a;
			font-size: 1.2em;
		}
		.social-icon {
			padding-right: 20px;
		}
	}
	.footerMenuLinks {
		text-align: center;
		a {
			color: #9a9a9a;
		}
	}
	.footerCTALinks {
		padding-right: 40px;
	}
	.footerMenuLinks, .footerCTALinks {
		ul {
			list-style: none;
			li {
				color: #9a9a9a;
				span a{
					display: block;
					color: #558e28;
					font-weight: bold;
				}
			}
		}
	}
	.footerContact {
		p {
			color: #558e28;
		}

		a {
			color: #558e28;
		}
		img {
			float: right;
			position: relative;
		}
		#phone {
			top: 0px;
		}
		#address {
			top: 30px;
		}
		#email {
			top: 20px;
		}
		#emailText {
			padding-top: 20px;
		}
	}
	.footerMailer {
		padding-top: 40px;
		p {
			color: #9a9a9a;
		}
		
	}
	.footerSocial {
		padding-top: 50px;
		text-align: center;
		padding-bottom: 100px;
		img {
			margin: 10px;
		}
	}
	.subFooter {
		background-color: #000;
		margin-top: 100px;
		p {
			text-align: center;
			color: #888888;
			font-size: 1em;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
//MEDIA QUERIES//////////////////////////////////////////////////////////
//was 750 - 1070
@media (min-width: 768px) and (max-width: 1020px) { //sm to xl
	//max 970 for fluid
.EnergyDeckLogo {
	//make nav bar not fluid
		//width: 130.2857px;
		//height: 25.714px;
		width: 100px;
		height: auto;
	//make nav bar fluid
		//width: 149.568px;
		//height: 29.52px;

		//width: 182.4px;
		//height: 36px;
	}
.navbar-brand {
//move the logo up
    padding-top: 16px;
	}
}
@media (max-width: 768px) { //xs to sm
//NAV BAR///////////////////////////////////
	//.navbar-brand {
//move the logo up
   // padding-top: 10px;
	//}
	.navbar-signUp {

	margin-left: 10px;
}
.navbar-logIn {
	margin-right: 0px;
	margin-left: 20px;
}
.social {
	.socialInner {
		.blog1 {

		}
	}
}
}

@media (max-width: 460px) {
	.topBanner {
		padding-top: 30px;
		padding-bottom: 0px;
		h1 {
			margin-top: 30px !important;
			margin-bottom: 20px;
			padding: 0 !important;
		}
		h2 {
			margin: 0 !important;
			padding: 0 !important;
		}
		.ghost-button {
			margin-bottom: 0 !important;
		}
		.topBannerInnerRight {
			margin-top: 0;
		}
		.videoWrapper {
			margin-top: 0px;
		}
	}
	.navbar-logInSm {
display: none !important;
}
.navbar-signUp2 {
	display: none !important;
}
.profiles h1 {
	padding-top: 10px;
	padding-bottom: 0px;
}
.profilesInner h1 {
	margin-top: 10px;
	margin-bottom: 20px;
}
.profilesInner h2 {
	padding-top: 5px !important;
}
.signUpTxt {
	display: none;
}
.profiles hr {
	margin-top: 40px;
}
.profiles {
	padding-bottom: 40px;
}
.features {
	padding-top: 0;
	padding-bottom: 30px;
	h1 {
		padding-top: 10px;
	}
}
.featuresInner {
	h1 {
		font-size: 1.4em !important;
	}
}
.customers {
	padding-bottom: 30px;
	h1 {
	padding-top: 20px;
		}
	}
		.qoute p{
			padding: 50px 30px 30px 30px !important;
		}
.social {
	padding-bottom: 30px;
	.socialInner {
		margin: 0;
		padding: 0;
		h1{
			padding-top: 15px;
			}
		h2 {
			display: block;
			line-height: 20px;
			padding: 10px;
			margin: 0;
			border-radius: 10px;
			}
		h3 {
			padding: 10px;
			margin-top: 20px;
			border-radius: 10px;
		}
		.blog1 {
			padding: 20px 20px 10px 20px;
			margin-bottom: 20px;
		}
		.blog2 {
			padding: 20px 20px 10px 20px;
			margin-bottom: 0;
		}
		}
	}
footer {
	padding-top: 30px;
	.social-icon {
		padding: 5px !important;
	}
	.subFooter {
		margin-top: 30px;
		p {
			padding-bottom: 20px;
		}
	}
}
}

@media (max-width: 750px) {
.customersInner {
	.customer-logos {
		img {
			width: 40px;
			height: auto;
		}
	}
}
footer {
	.ed-logo {
		width: 50% !important;
	}
}
.topBannerInnerLeft {
	h1 {
		font-size: 3.5em !important;
	}
}
nav {
	.EnergyDeckLogo {

	}
}
.navbar-logInSm {

}
.navbar-signUp2 {
}
}

@media (max-width: 992px) { //xs to md

.customersInner {
	.customer-logos {
		text-align: center;
	}
}

//TOP BANNER///////////////////////////////
.topBanner {
	.topBannerInnerLeft {
		text-align: center;
			h1 {
				text-align: left;
			}
			h2 {
				text-align: left;
			}
			.ghost-button {
	  			margin-right: 30px;
	  			margin-left: 30px;
			}
		}
	}
	.caseStudyContainer {
		.caseStudySlider {
			#caseStudyCarousel {
				.carousel-inner {
					.item {
						height: 520px;
					}
				}
			}
		}
	}

	footer {
		.footerBrand {
			text-align: center;
			.ed-logo {
				width: 400px;
			}
		}
		.footerMenuLinks {
			padding: 0;
			padding-top: 20px;
			text-align: center;

			ul {
				list-style:none;
    padding-left:0;
			}

		}
		.footerCTALinks {
			padding: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;

			ul {
				list-style:none;
    padding-left:0;
			}
		}
		.footerContact {

		//padding: 0; //was causeing white bar right
		text-align: center;

		margin: 0;
		p {
			color: #558e28;
		}
		#phone {
			display: none;
		}
		#address {
			display: none;
		}
		#email {
			display: none;
		}
		#emailText {
			padding-top: 0px;
		}
	}
	.footerMailer {
		.form-control {
			margin: 0 auto;
			width: 80%;
		}
		button {
			margin-top: 10px;
		}
	}
	}
}
@media (max-width: 300px) {
	.circletagYoursSolid {
	display: block;
	width: 70px !important;
	height: 70px !important;
	background: $colour2;
	-moz-border-radius: 35px !important;
	-webkit-border-radius: 35px !important;
	background-image: url(../img/yourstest.png);
	background-size: 50px 50px !important;	 
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	transition-duration: 1s;
}

.circletagSomeoneElse {
	display: block;
	width: 70px !important;
	height: 70px !important;
	background: $colour2;
	-moz-border-radius: 35px !important;
	-webkit-border-radius: 35px !important;
	background-image: url(../img/sptest.png);
	background-size: 50px 50px !important;	
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: $colour2;
	transition-duration: 1s;
}

}

@media (max-width: 400px) {
	.calculator-small {
	p {
		font-size: 1em !important;
	}
}
			.pricing {
	form {
	text-align: center;
		#sites, #feeds {
			width: 80% !important;

		}
		.customer {
			width: 80% !important;

		}
}
}
	.profileSelect {
		padding-top: 70px !important;
		h1 {
			display: none;
		}
	}
}

@media (max-width: 550px) {

	.profileSelect {
		h1 {
			padding-bottom: 0 !important;
		}
		h2 {
			display: none;
		}
	}
}
@media (max-width: 650px) {
	.pricing {
	form {
	text-align: center;
		#sites, #feeds {
			width: 50%;

		}
		.customer {
			width: 60%;

		}
}
}
	.circletagPricingYours {
		display: block !important;
	}
	.circletagPricingSP {
		display: block !important;
	}
	.pricingHeading {
		text-align: center;
		h1 {
			padding: 0 !important;
			margin-bottom: 20px !important;
			margin-top: 20px !important;
			bottom: 0 !important;
		}
		hr {
		margin-top: 0 !important;
	}
	}
}
@media (max-width: 767px) {
	.awards {
		.img-responsive {
			padding-top: 20px;
		}
	}
	.the-team {
		.team-copy {
			padding-left: 40px !important;
			padding-right: 40px !important;
		}
	}
	.calculator {
		display: none;
	}
	#pricingFooter {
		margin-bottom: 110px;
	}
}
@media (max-width: 1000px) {
	.profileSelect {
	h1 {
		font-size: 1.2em !important;
	}
	h2 {
		padding: 0 30px 0 30px !important;
	}
	.line {
		display: none;
	}
}
		.features { 
			.line {
		display: none;
	}
	.featuresSlider {
		display: none;
		}
		.featuresInner {
			.circletag1, .circletag2, .circletag3, .circletag4 {
cursor: default !important;
		}
	.circletag1:hover {
		cursor: default !important;
		 display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/onePlatform.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
	}
	.circletag2:hover {
				cursor: default !important;
		 display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/flexibleReporting.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
	}
	.circletag3:hover {
				cursor: default !important;
		 display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/analytics.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
	}
		.circletag4:hover {
				cursor: default !important;
		 display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/projectTracking.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
		}
		.circletag1Select {
	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/onePlatform.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    	    	        -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
		}
			.circletag2Select {
	   	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/flexibleReporting.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    	    	        -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
		}
			.circletag3Select {
	   	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/analytics.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    	    	        -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
		}
			.circletag4Select {
	    	    display: block;
	    width: 80px;
	    height: 80px;
	    background: $colour2;
	    -moz-border-radius: 40px;
	    -webkit-border-radius: 40px;
	    background-image: url(../img/projectTracking.png);
	    background-size: 45px 45px;
	    background-position:50% 50%;
	    background-repeat:no-repeat;
	    margin: 0 auto;
	    cursor: default !important;
	    transition-duration: 1s;
	    	    	        -mox-box-shadow: 0px 0px 0px 0px $colour2;
    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
    box-shadow: 0px 0px 0px 0px $colour2;
		}
		}
	}
}
@media (max-width: 1200px) { //xs to lg
//FEATURES//////////////////////////////////

	.pricing {
	form {
	text-align: center;
		#sites, #feeds {
			width: 50%;

		}
		.customer {
			width: 70%;

		}
}
}
.benefits-circle {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}
.benefits {
	text-align: center;
	h1 {
		padding-left: 0 !important;
		display: block;
	}
	h2 {
		padding-bottom: 15px;
	}
	p {
		padding-bottom: 10px;
	}
	img {
		margin: 0 auto;
	}
.benefitsInner {
	text-align: center;
	i {
		display: block;
	}
}
}

.features {


	.featuresInner {
		h2 {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
}
//PROFILES/////////////////////////////////////////
.profiles {
		.profilesInner {

		h2 {
			padding-left: 0;
			padding-right: 0;
			padding-top: 20px;
		}

	}
}


}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .customers {
			.customersInner {
				img {
					//width: 120px;
				}
			}
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.customers {
			.customersInner {
				img {
					//width: 120px;
				}
			}
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.customers {
			.customersInner {
				img {
					//width: 160px;
				}
			}
		}

    }

@media (max-width: 991px) {
	.ideal {
		margin-top: 20px;
	}
	.map {
		margin-bottom: 15px;
	}
	.blog-side {
		text-align: left !important;
		padding-bottom: 40px !important;
	}
	.blog-main {
		padding-bottom: 20px !important;

	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

//benefits page//////
  	
.profileSelect {
	text-align: center;
   	padding-top: 40px;
   	padding-bottom: 20px;
   	background-color: $colour4;
   	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: $colour2;
   	.line {
		background-color: transparent;
		height: 2px;
		border-top-style: dashed;
		border-top-color: $colour2;
		border-top-width: 2px;
		position: relative;
		top: 150px;
		width:40%;
		margin: 0 auto;
	}
	h1 {
		font-size: 1.5em;
		text-align: center;
		font-family: helveticaRegular;
		color: #fff;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	h2 {
		margin-top: 30px;
		font-size: 1em;
		text-align: center;
		font-family: helveticaLight;
		color: #fff;
		padding-left: 100px;
		padding-right: 100px;
	}
}

.circletagYoursSolid {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/yourstest.png);
	background-size: 75px 75px;	 
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	transition-duration: 1s;
}

.circletagSomeoneElseSolid {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/sptest.png);
	background-size: 75px 75px;
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: $colour2;
	transition-duration: 1s;
}

.circletagYoursSelect {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/yoursWhite.png);
	background-size: 75px 75px;	 
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	transition-duration: 1s;
}

.circletagSomeoneElseSelect {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/spWhite.png);
	background-size: 75px 75px;
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: $colour2;
	transition-duration: 1s;
}

.benefits-top {
	background-color: #fff;
}

.benefits-circle {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border: solid 2px $colour2;
	background-color: $colour2;
	line-height: 90px;
	text-align: center;
	display: inline-block;
}
	
.feature1, .feature3 {
	padding-bottom: 50px;
	background-color: #fff;
	color: $colour4;

}
.feature3 {
		padding-top: 50px;
}
	
.feature2, .feature4 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $colour5;
	h1, h2, h3, p {
		color: $colour4;
	}

}

.feature5 {
  	background-color: #fff;
}
	
.benefitsTriangleInner {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 36px solid $colour4;
	position: relative;
	top: -44px;
	padding-bottom: 0;
	margin-bottom: 0;
}
	.benefitsIcon {
		display: inline-block;
		margin-bottom: 18px !important;	
	}
.benefits {

	h1 {
		display: inline-block;
		font-size: 2em;
		text-align: left;
		font-family: helveticaLight;
		padding-left: 20px;
	}
	h2 {
		display: inline-block;
		font-size: 1.2em;
		text-align: left;
		font-family: helveticaRegular;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 1.2em;
		font-family: helveticaRegular;
	}
	p {
		font-size: 1em;
		font-family: helveticaLight;
	}
}
	
.benefitsInner {
	img {
		float: left;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	p {
		display: inline-block;
		font-size: 1em;
		padding-left: 10px;
	}
	i {
		font-size: 2em;
		position: relative;
		top: 5px;
	}
}

.ghost-button-benefits {
	display: inline-block;
	width: 150px;
	padding: 8px;
	color: #36393e;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: helveticaLight;
	font-size: 1.2em;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	transition-duration: 1s;
}
			
.ghost-button-benefits:hover {
	background-color: $accent1;
	transition-duration: 1s;
	color: #fff;
	text-decoration: none;
}

.benefitsCTA {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.ghost-button-benefitsCTA {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		//background-color: #23f167; //BRIGHT GREEN
	  		//background-color: #ff7636; //ORANGE
	  		//background-color: #31b35c; //GREEN
	  		background-color: $colour2;
	  		border: 2px solid $colour2;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		transition-duration: 1s;
	  		border-radius: 20px;
}
			
.ghost-button-benefitsCTA:hover {
	background-color: transparent;
	color: $colour2;
	transition-duration: 1s;
	text-decoration: none;
	border-color: $colour2;
}

//PRICING PAGE///
.pricingTop {
	background-color: #fff;
}

.pricing {
	background-color: #fff;
	.pricingHeading {
	h1 {
			display: inline-block;
			font-size: 2em;
			text-align: left;
			font-family: helveticaLight;
			color: $colour4;
			position: relative;
			bottom: 30px;
			padding-left: 20px;
		}
		h2 {
			//margin: 0;
			//padding: 0;
			font-size: 1em;
			text-align: left;
			font-family: helveticaRegular;
			//font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: $colour4;
			margin-top: 0;
			margin-bottom: 40px;
		}
		.circletagPricingYours {
		    display: inline-block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/yoursWhite.png);
		    background-size: 60px 60px;
		    background-position: 50% 60%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    transition-duration: 1s;
		}

.circletagPricingSP {
		    display: inline-block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/spWhite.png);
		    background-size: 60px 60px;
		    background-position: 50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    border-style: solid;
		    border-width: 2px;
		    border-color: $colour2;
		    transition-duration: 1s;
		}
	}

	h1 {
			font-size: 2em;
			text-align: center;
			font-family: helveticaThin;
			//font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: $colour4;
			a {
			text-decoration: none;
			color: $colour4;
		}

	}
	h2 {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaThin;
			//font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: $colour4;
		}


	.pricing-hr {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.form-heading {
		margin-bottom: 30px;
	}

	.circlePricing {
			display: block;
		    width: 70px;
		    height: 70px;
		    background: $colour2;
		    -moz-border-radius: 35px;
		    -webkit-border-radius: 35px;
		   text-align: center;
		   line-height: 70px;
		   font-size: 40px;
		   color: #fff;
		    margin: 0 auto;
		    margin-bottom: 20px;
		    font-family: helveticaThin;
		    //font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		}

		.stopCalc {
			background-color: #fff;
			height: 30px;
		}
	
.calculator {
	background-color: $colour5;
	border: 4px solid $colour2;
    border-radius: 25px;
    h1 { 
    	color: $colour4;
    	background-color: $colour6;
    	margin-top: 0;
    	border: 2px solid $colour6;
    	border-radius: 17px 17px 0 0;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	border-bottom-color: $colour2;
    	font-family: helveticaThin;

    }
    .overview {
    	text-align: center;
    i {
    	font-size: 3em;
    	color: $colour2;
    }
    p {
    	font-family: helveticaRegular;
    	font-size: 1.2em;
    	color: $colour2;
    }
   }
   .free-feeds {
    	text-align: center;
    	p {
    	font-family: helveticaRegular;
    	font-size: 1.2em;
    	color: $colour2;
    }
    }
    .total-cost {
    	h1 { 
    	color: $colour4;
    	background-color: $colour6;
    	border: 2px solid $colour6;
    	border-radius: 0 0 0 0;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	border-top-color: $colour2;
    	margin-bottom: 0;
    	font-size: 2em;
    	}
    	h2 {
    		color: $colour4;
    	background-color: $colour6;
    	border: 2px solid $colour6;
    	border-radius: 0 0 0 0;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	margin-top: 0;
    	font-size: 1.2em;
    	margin-bottom: 0;
    	}
    	h3 {
    		text-align: center;
    		color: $colour4;
    	background-color: $colour6;
    	border: 2px solid $colour6;
    	border-radius: 0 0 0 0;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	margin-top: 0;
    	font-size: .9em;
    	margin-bottom: 0;
    	}
    }
}
.calc-bottom {
	.checkbox {
		text-align: center;
    	color: $colour4;
    	background-color: $colour6;
    	border: 2px solid $colour6;
    	border-radius: 0 0 17px 17px;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	margin-top: 0;
    	font-size: .9em;
    	margin-bottom: 0;
	}
}

}

.calculator-small {
	padding-top: 5px;
	border-top: solid 2px $colour2;
	background-color: $colour4;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	z-index: 1;
	text-align: center;
	i {
		color: $colour2;
		font-size: 2em;

	}
	p {
		font-size: 1.2em;
		font-family: helveticaRegular;
		color: $colour2;
	}
	.output {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

form {
	text-align: center;
		#sites, #feeds {
			width: 20%;
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}
		.customer {
			width: 40%;
			display: block;
			margin: 0 auto;
			margin-top: 15px;
		}

		.customer-resi {
			width: 30%;
			display: block;
			margin: 0 auto;
			margin-top: 15px;
		}

		#submit-btn {
			margin-top: 15px;
			margin-bottom: 40px;
		}

		#submit-btn-resi {
			margin-top: 15px;
			margin-bottom: 60px;
		}

}

footer {
	form {
		text-align: left;
	}
}
.topBannerAbout {
	min-height: auto;
	//background: url(../img/banner22.jpg) no-repeat center center fixed; 
	background: url(../img/newbg31.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: $colour2;
  	padding-bottom: 100px;
  	padding-top: 90px;
	.topBannerInnerLeft {
			h1 {
				   color: $colour4;
   -webkit-text-fill-color: $colour4; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #fff;
				//color: $colour4;
				font-family: helveticaMedium;
				font-size: 6.2em;
				padding: 20px;
			}
			h2 {
								   //color: #fff;
  // -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
 //  -webkit-text-stroke-width: 0.5px;
 //  -webkit-text-stroke-color: $colour4;
				color: $colour4;
				font-family: helveticaLight;
				font-size: 2em;
				//font-size: 2em;
				padding: 20px;
				line-height: 40px;
			}
		}
	}
.aboutPage {
	padding-top: 40px;
	p {
		font-family: helveticaRegular;
	}

		h1 {
		font-size: 2em;
		text-align: center;
		font-family: helveticaLight;
		padding-bottom: 30px;
	}
		h2 {
			font-size: 1.8em;
			text-align: left;
			font-family: helveticaThin;
			//font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			color: #000;
			padding-bottom: 20px;
		}
		.about-us {
			padding-top: 50px;
		}
		.mission {

				font-size: 1.2em;
				text-align: center;
				font-family: helveticaLight;
				color: #fff;
				
				p {
					padding: 50px;
					background-color: $colour6;
					text-align: left;
					border-radius: 15px;
					position: relative;
					top: -40px;
				}
				.mission-circle {
					z-index: 1;
					display: block;
		    		width: 90px;
		    		height: 90px;
		    		background: $colour5;
		    		border-style: solid;
		    		border-width: 3px;
		    		-moz-border-radius: 45px;
		    		-webkit-border-radius: 45px;
		    		border-color: #fff;
		   			text-align: center;
		   			line-height: 85px;
		   			margin: 0 auto;
		    		//margin-bottom: 20px;
		    		position: relative;
		    		top: 0px;
		    	img {
					text-align: center;
				}
			}
			}
		.awards {
			padding-bottom: 20px;
			p {
				padding-top: 20px;
				text-align: center;
				font-weight: bolder;
			}
			.img-responsive {
				max-width: 200px;
				height: auto;
				margin: 0 auto;
			}
		}
			.circlePic {
			display: block;
			margin: 0 auto;
		    width: 100px;
		    height: 100px;
		    background: lightgrey;
		    -moz-border-radius: 50px;
		    -webkit-border-radius: 50px;
		    margin-bottom: 20px;
		    margin-top: 20px;
		}
			.circlePicNic {
			display: block;
			margin: 0 auto;
		    width: 100px;
		    height: 100px;
		    background: lightgrey;
		    -moz-border-radius: 50px;
		    -webkit-border-radius: 50px;
		    margin-bottom: 20px;
		    margin-top: 20px;
		    background-image: url(../img/Nic_on_holiday.png);
				    background-size: 100px auto;
				    background-position: 50% 50%;
				    background-repeat:no-repeat;
		}

		.name, .title {
			text-align: center;
		}
		.memberships {
			margin-bottom: 30px;
		}
	.about-title {
		padding-bottom: 30px;
		i {
			font-size: 3.5em;
			color: #fff;
			position: relative;
			top: -5px;
		}
	}
}
.the-team {
	background-color: $colour5;
	padding-bottom: 30px;
	p {
		text-align: center;
	}
	.team-copy {
		padding-left: 20px;
		padding-right: 20px;
		text-align: left;
	}
}

.aboutCTA {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 100px;
			background-color: #e3e3e3;
		}

.topBannerContact {
	min-height: auto;
	//background: url(../img/banner22.jpg) no-repeat center center fixed; 
	background: url(../img/newbg51.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: $colour2;
  	padding-bottom: 100px;
  	padding-top: 90px;
	.topBannerInnerLeft {
			h1 {
				   color: $colour4;
   -webkit-text-fill-color: $colour4; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #fff;
				//color: $colour4;
				font-family: helveticaMedium;
				font-size: 6.2em;
				padding: 20px;
			}
			h2 {
								   //color: #fff;
  // -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
 //  -webkit-text-stroke-width: 0.5px;
 //  -webkit-text-stroke-color: $colour4;
				color: $colour4;
				font-family: helveticaLight;
				font-size: 2em;
				//font-size: 2em;
				padding: 20px;
				line-height: 40px;
			}
		}
	}
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
.contactPage {
	padding-top: 40px;
	padding-bottom: 60px;
		h1 {
			font-size: 2em;
			font-family: helveticaLight;
			color: $colour4;
				text-align: center;
	}
		h2 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaRegular;
			color: $colour4;
				text-align: center;
		}
		p {
			font-size: 1em;
			font-family: helveticaLight;
			color: $colour4;
				text-align: center;
		}
		a {
			text-decoration: none;
			color: $colour4;
		}
    }
    .circleContact {
			display: block;
			margin: 0 auto;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    text-align: center;
		    margin-top: 20px;
		    img {
		    	margin-top: 20px;
		    }
		}
	    .circleContactSocial {
			display: block;
			margin: 0 auto;
		    width: 80px;
		    height: 80px;
		    background: $colour4;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    text-align: center;
		    margin-top: 20px;
		    img {
		    	margin-top: 20px;
		    }
		}
	.follow-container {
			text-align: center;
	}
	.follow {
		margin-top: 30px;
		margin-bottom: 30px;
	}

.resourceMenu {
	a {
		text-decoration: none;
	}
	span {
		color: #62a426;
		display: block;
		cursor: pointer;

	}
	p {
		color: #000;
		display: block;
	}
}
#caseStudySub {
	display: none;
}

#researchSub {
	display: none;
}
.blog {
	margin-top: 60px;
	.blog-main {
		padding-bottom: 60px;
		h1 {
			font-size: 2em;
			text-align: left;
			font-family: helveticaThin;
			color: $colour4;
			margin-bottom: 15px;
		}
		.blog-post {
			padding-bottom: 60px;
			.who-post {
				.blog-circle {
				    width: 60px;
				    height: 60px;
				    -moz-border-radius: 30px;
				    -webkit-border-radius: 30px;
				    background-image: url(../img/Nic_on_holiday.png);
				    background-size: 60px auto;
				    background-position: 50% 50%;
				    background-repeat:no-repeat;
				    transition-duration: 1s;
				}
				p {
					margin: 0;
					margin-top: 9px;
					color: $colour4;
					font-family: helveticaRegular;
				}
				span {
					margin: 0;
					color: $colour3;
					font-family: helveticaRegular;
				}
			}
			hr {
			}
			p {
				color: $colour4;
				font-family: helveticaRegular;
			}
			img {
				margin-top: 10px;
				margin-bottom: 20px;
			}
			span {
					color: $colour3;
					font-family: helveticaRegular;
				}
				a {
					i {

					}
				}
			em {
				font-size: 1.2em;
				display: block;
			}
			.img-float-right {
				float: right;
				padding-left: 20px;
				padding-top: 0;
				margin-top: 0;
			}
			.img-float-left {
				float: left;
				padding-right: 20px;
				padding-top: 0;
				margin-top: 0;
			}
		}
	}
	.blog-side {
		text-align: right;
		h1 {
			font-size: 2em;
			font-family: helveticaThin;
			color: $colour4;
			margin-bottom: 15px;
			padding: 0;
		}
		p {
			color: $colour4;
			font-family: helveticaRegular;
			padding: 10px 0 0 0;
			margin: 0;
		}
		span {
			color: $colour3;
			font-family: helveticaRegular;
			a {
			}
		}
	}
}
