//Variables
//------------------------------------------------------
//Colours
//Backgrounds
$colour1: #3d9cbc; //blue
$colour2: #558e28; //green
$colour3: #696969; //grey
$colour4: #2a2a2a; //dark grey
$colour5: #e6e6e6; //very light grey
$colour6: #cacaca; //medium grey
//Accents
$accent1: #54abc7; //bright blue
$border: #cacaca; //medium grey
//------------------------------------------------------
//Spacing
$sectionPadding: 20px;
$section: 60px;
//------------------------------------------------------
//Fonts
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: helveticaThin;
    src: url(../fonts/HelveticaNeueThin.ttf);
}
@font-face {
    font-family: helveticaRegular;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: helveticaMedium;
    src: url(../fonts/HelveticaNeueMedium.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
    font-weight: bold;
}

html { -webkit-font-smoothing: antialiased; }

//NAV BAR ///////////////////////////////////////////
.EnergyDeck-logo {
	width: 182.4px;
	height: 36px;
}

.navbar-brand {
    padding-top: 7px;
}

.navbar {
   background: rgba(255, 255, 255, 0.9);
}

.navbar-sign-up {
	margin-left: 10px;
}

.navbar-sign-up-sm {
	margin-right: 10px;
}

.navbar-log-in {
	margin-right: 0px;
	margin-left: 20px;
}

.navbar-log-in-sm {
	float: right;
	margin-right: 20px;
	margin-left: 10px;
}

.navbar-collapse {
	text-align: right;
}

//TOP BANNER//////////////////////////////////////
.top-space {
	margin-top: 40px;
}
.new-banner {
	height: 600px;
	background: url(../img/background/8.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	img {
  		position: relative;
  		top: 220px;
  	}
}
.new-top {
	background-color: #f6f7fc;
	h1 {
		   color: $colour4;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: $colour4;

			font-family: helveticaMedium;
			font-size: 2.5em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
		.ghost-button {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin: 20px;
	  		border-radius: 25px;
	  		color: #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		transition-duration: 1s;
	  		background-color: $colour2;
	  		border: solid 2px #fff;
		}
		.ghost-button:hover {
			border: solid 2px $colour4;
	  		background-color: $colour2;
	  		transition-duration: 1s;
	  		color: #fff;
		}
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.video-wrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 80%;
			height: 80%;
			right: 0;
			margin: 0 auto;
		}
}
.top-banner {
	min-height: auto;
	background: url(../img/background/8.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		h1 {
		   color: #000;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: #000;

			font-family: helveticaMedium;
			font-size: 2.5em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
		.ghost-button {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin: 20px;
	  		border-radius: 25px;
	  		color: #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		transition-duration: 1s;
	  		background-color: $colour2;
	  		border: solid 2px #fff;
		}
		.ghost-button:hover {
			border: solid 2px $colour4;
	  		background-color: $colour2;
	  		transition-duration: 1s;
	  		color: #fff;
		}
	}
	.top-banner-inner-right {
		margin-top: 20px;
		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.video-wrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 80%;
			height: 80%;
			right: 0;
			margin: 0 auto;
		}
	}
}

//FEATURES/////////////////////////////////////
.triangle {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 40px solid $colour2;
}
.triangle-inner {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 36px solid #fff;
	position: relative;
	top: -44px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.features {
	padding-top: 20px;
	padding-bottom: 30px;
	.line {
		background-color: transparent;
		height: 2px;
		border-top-style: dashed;
		border-top-color: $colour2;
		border-top-width: 2px;
		position: relative;
		top: 110px;
		width: 80%;
		margin: 0 auto;
	}
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		color: $colour4;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	.features-inner {
		h1 {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			color: $colour4;
			margin-bottom: 15px;
		}
		h2 {
			margin-top: 15px;
			font-size: .9em;
			text-align: center;
			font-family: helveticaLight;
			margin-bottom: 20px;
			padding-left: 20px;
			padding-right: 20px;
			color: $colour4;
		}
		.one-platform-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/one-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.one-platform-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/one.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.flexible-reporting-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/reporting-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.flexible-reporting-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/flex.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.analytics-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/analytic-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;    
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.analytics-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/analytic.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.project-tracking-icon {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/project-white.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;    
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		}
		.project-tracking-icon:hover {
			background: #ffffff;
			-moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
			background-image: url(../img/project.png);
			background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
		    -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.one-platform-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/one.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	        -mox-box-shadow: 0px 0px 1px 2px $colour2;
		    -webkit-box-shadow: 0px 0px 1px 2px $colour2;
		    box-shadow: 0px 0px 1px 2px $colour2;
		}
		.flexible-reporting-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/flex.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
		.analytics-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/analytic.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
		.project-tracking-icon-selected {
		    display: block;
		    width: 80px;
		    height: 80px;
		    background: #FFFFFF;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/project.png);
		    background-size: 45px 45px;
		    background-position:50% 50%;
		    background-repeat:no-repeat;
		    margin: 0 auto;
		    cursor: pointer;
		    transition-duration: 0.25s;
	    	-mox-box-shadow: 0px 0px 1px 2px $colour2;
    		-webkit-box-shadow: 0px 0px 1px 2px $colour2;
    		box-shadow: 0px 0px 1px 2px $colour2;
		}
	}
	.carousel-control.left, .carousel-control.right {
    	background-image: none !important;
	}
	.features-slider {
		padding-bottom: 30px;
		.slider {
			.slide {
				.carousel-inner {
					.item {
						border-top-style: solid;
						border-top-width: 4px;
						border-top-color: $colour2;
						background-color: #f9f9f9;
						width: 100%;
						height: 300px;
						.analytics-slide {
							h1 {
								text-align: center;
								margin-top: -20px;
							}
							img {
								display: block;
								margin: 0 auto;
								padding-top: 20px;
								padding-bottom: 20px;
							}
							p {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
#my-carousel {
	i {
		font-size: 3em;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		color: $colour2;
	}
}

//PROFILES//////////////////////////////////////////////
.profiles {
	background-color: $colour4;
	padding-bottom: 60px;
	border-top: solid 1px $border;
	border-bottom: solid 1px $border;
	h1 {
		text-align: center;
		font-size: 2em;
		font-family: helveticaLight;
		padding-bottom: 30px;
		padding-top: 30px;
		color: #fff;
	}
	hr {
		margin-top: 50px;
	}
	.row {
		padding: 0;
		margin: 0;
	}
	.profiles-inner {
		text-align: center;
		h1 {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaRegular;
			color: #fff;
			padding-bottom: 0px;
			padding-top: 0px;
		}
		h2{
			margin-top: 15px;
			font-size: 1em;
			text-align: center;
			font-family: helveticaLight;
			color: #fff;
			padding-left: 100px;
			padding-right: 100px;
		}
		.ghost-button-learn {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		border: 2px solid #fff;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		margin-bottom: 15px;
	  		transition-duration: 1s;
	  		i {
	  			font-size: 1.2em;
	  			position: relative;
	  			top: 2px;
	  		}
		}
		.ghost-button-learn:hover {
			color: $colour2;
	  		border: 2px solid $colour2;
	  		transition-duration: 1s;
		}
		.ghost-button-go {
	  		display: inline-block;
	  		width: 150px;
	  		padding: 8px;
	  		margin-right: 50px;
	  		color: #fff;
	  		background-color: $colour2;
	  		border: 2px solid $colour2;
	  		text-align: center;
	  		outline: none;
	  		text-decoration: none;
	  		font-family: helveticaLight;
	  		font-size: 1.2em;
	  		margin: 0 auto;
	  		margin-top: 20px;
	  		transition-duration: 1s;
	  		border-radius: 20px;
		}
		.ghost-button-go:hover {
	  		background-color: $colour4;
	  		color: $colour2;
	  		transition-duration: 1s;
		}
	}
}

//CUSTOMERS/////////////////////////////////////////
.customers {
	background-color: #fff;
	padding-bottom: 40px;
	border-top: solid 1px $border;
	h1 {
		text-align: center;
		font-size: 2.4em;
		font-family: helveticaLight;
		color: $colour4;
		padding-top: 30px;
		padding-bottom: $sectionPadding;	
	}
	.customers-inner {
		a {
			text-decoration: none;
			cursor: pointer;
		}
		img {
			margin-left: 10px;
			margin-right: 10px;
			cursor: pointer;
		}
		.qoute {
			font-size: 1.2em;
			text-align: center;
			font-family: helveticaLight;
			color: $colour4;
			p {
				padding: 50px;
				background-color: #cfdec4;
				text-align: left;
				border-radius: 15px;
			}
			.circle {
				display: block;
	    		width: 90px;
	    		height: 90px;
	    		background: $colour2;
	    		border-style: solid;
	    		border-width: 3px;
	    		-moz-border-radius: 45px;
	    		-webkit-border-radius: 45px;
	    		border-color: #fff;
	   			text-align: center;
	   			line-height: 85px;
	   			margin: 0 auto;
	    		margin-bottom: 25px;
	    		position: relative;
	    		top: 70px;
		    	img {
					text-align: center;
				}
			}
		}
	}
}

//SOCIAL////////////////////////////////////////////
.social {
	background-color: $colour3;
	padding-bottom: 50px;
	border-top: solid 1px $border;
	.social-inner {
		padding-left: 0;
		margin-left: 0;
		h1 {
			text-align: left;
			font-size: 2em;
			font-family: helveticaLight;
			color: #fff;
			padding-top: 30px;
			padding-bottom: 20px;	
		}
		span {
			font-size: 1em;
			text-align: left;
			font-family: helveticaLight;
			display: block;
			padding-left: 10px;
		}
		h2 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaRegular;
			color: #fff;
			background-color: $colour4;
			display: inline;
			padding: 15px 30px 15px 30px;
			margin-left: 0;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px; /* future proofing */
			-khtml-border-radius: 0px 5px 5px 0px; /* for old Konqueror browsers */
			line-height: 60px;
		}
		h3 {
			font-size: 1.2em;
			text-align: left;
			font-family: helveticaLight;
			color: #fff;
			background-color: $colour4;
			padding: 15px 30px 15px 30px;
			-moz-border-radius: 0px 5px 5px 0px;
			-webkit-border-radius: 0px 5px 5px 0px;
			border-radius: 0px 5px 5px 0px;
			-khtml-border-radius: 0px 5px 5px 0px;
			span {
				display: inline;
				font-size: .8em;
				text-align: center;
				font-family: helveticaMedium;
				color: #fff;
			}
		}
	}
	.blog-1 {
		height: auto;
		width: 100%;
		background: url(../img/blog1BG.jpg) no-repeat center center; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	padding: 0;
	  	margin-bottom: 21px;
	  	padding-top: 40px;
	  	padding-bottom: 30px;
	  	padding-right: 40px;
	}
	.blog-2 {
		height: auto;
		width: 100%;
		background: url(../img/blog2BG.jpg) no-repeat center center; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	padding: 0;
	  	padding-bottom: 30px;
	  	padding-top: 40px;
		padding-right: 40px;
	}
	.twitter-plugin {
		background-color: #fff;
		max-width: 520px;
		height: 475px;
		border-style: solid;
		border-color: #e6e6e6;
		border-width: 2px;
		padding: 0;
	}
}

//FOOTER//////////////////////////////////////////
footer {
	background-color: $colour4;
	padding-top: 100px;
	border-top: solid 1px $border;
	.footer-brand {
		p {
			color: #9a9a9a;
			font-size: 1.2em;
		}
		.social-icon {
			padding-right: 20px;
		}
	}
	.footer-menu-links {
		text-align: center;
		a {
			color: #9a9a9a;
		}
	}
	.footer-menu-links {
		ul {
			list-style: none;
			li {
				color: #9a9a9a;
				span a{
					display: block;
					color: #558e28;
					font-weight: bold;
				}
			}
		}
	}
	.footer-contact {
		p {
			color: #558e28;
		}
		a {
			color: #558e28;
		}
		img {
			float: right;
			position: relative;
		}
		#phone {
			top: 0px;
		}
		#address {
			top: 30px;
		}
		#email {
			top: 20px;
		}
		#email-text {
			padding-top: 20px;
		}
	}
	.sub-footer {
		background-color: #000;
		margin-top: 100px;
		p {
			text-align: center;
			color: #888888;
			font-size: 1em;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

//benefits page////// 	
.profile-select {
	text-align: center;
   	padding-top: 40px;
   	padding-bottom: 20px;
   	background-color: $colour4;
   	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: $colour2;
   	.line {
		background-color: transparent;
		height: 2px;
		border-top-style: dashed;
		border-top-color: $colour2;
		border-top-width: 2px;
		position: relative;
		top: 150px;
		width:40%;
		margin: 0 auto;
	}
	h1 {
		font-size: 1.5em;
		text-align: center;
		font-family: helveticaRegular;
		color: #fff;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	h2 {
		margin-top: 30px;
		font-size: 1em;
		text-align: center;
		font-family: helveticaLight;
		color: #fff;
		padding-left: 100px;
		padding-right: 100px;
	}
}
.profile-owner-solid {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/yourstest.png);
	background-size: 75px 75px;	 
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	transition-duration: 1s;
}
.profile-service-provider-solid {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/sptest.png);
	background-size: 75px 75px;
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: $colour2;
	transition-duration: 1s;
}
.profile-owner-selected {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/yoursWhite.png);
	background-size: 75px 75px;	 
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	transition-duration: 1s;
}
.profile-service-provider-selected {
	display: block;
	width: 100px;
	height: 100px;
	background: $colour2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(../img/SPWhite.png);
	background-size: 75px 75px;
	background-position:50% 50%;
	background-repeat:no-repeat;   
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: $colour2;
	transition-duration: 1s;
}
.benefits-top {
	background-color: #fff;
}
.benefits-circle {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border: solid 2px $colour2;
	background-color: $colour2;
	line-height: 90px;
	text-align: center;
	display: inline-block;
}
.feature-one-platform, .feature-analytics {
	padding-bottom: 50px;
	background-color: #fff;
	color: $colour4;
	border-bottom: solid 1px $border;
}
.feature-analytics {
	padding-top: 50px;
}
.feature-flexible-reporting, .feature-project-tracking {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $colour5;
	border-bottom: solid 1px $border;
	h1, h2, h3, p {
		color: $colour4;
	}
}
.feature-cta {
  	background-color: #fff;
}
.benefits-triangle-inner {
	display: block;
	margin: 0 auto;
	width: 0; 
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 36px solid $colour4;
	position: relative;
	top: -44px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.benefits-icon {
	display: inline-block;
	margin-bottom: 18px !important;	
}
.benefits {
	h1 {
		display: inline-block;
		font-size: 2em;
		text-align: left;
		font-family: helveticaLight;
		padding-left: 20px;
	}
	h2 {
		display: inline-block;
		font-size: 1.2em;
		text-align: left;
		font-family: helveticaRegular;
		margin-bottom: 25px;
	}
	h3 {
		font-size: 1.2em;
		font-family: helveticaRegular;
	}
	p {
		font-size: 1em;
		font-family: helveticaLight;
	}
}
.benefits-inner {
	img {
		float: left;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	p {
		display: inline-block;
		font-size: 1em;
		padding-left: 60px;
		text-indent: 0em;
	}
	i {
		font-size: 2em;
		position: relative;
		top: 5px;
		left: 50px;
		text-indent: -1em;
	}
}		
.benefits-cta {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.ghost-button-benefits-cta {
	display: inline-block;
	width: 150px;
	padding: 8px;
	margin-right: 50px;
	color: #fff;
	background-color: $colour2;
	border: 2px solid $colour2;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: helveticaLight;
	font-size: 1.2em;
	margin: 0 auto;
	transition-duration: 1s;
	border-radius: 20px;
}		
.ghost-button-benefits-cta:hover {
	background-color: transparent;
	color: $colour2;
	transition-duration: 1s;
	text-decoration: none;
	border-color: $colour2;
}

//PRICING PAGE///
.pricing-top {
	background-color: #fff;
}
.pricing {
	background-color: #fff;
	.pricing-heading {
	h1 {
			display: inline-block;
			font-size: 2em;
			text-align: left;
			font-family: helveticaLight;
			color: $colour4;
			position: relative;
			bottom: 30px;
			padding-left: 20px;
		}
		h2 {
			font-size: 1em;
			text-align: left;
			font-family: helveticaRegular;
			color: $colour4;
			margin-top: 0;
			margin-bottom: 40px;
		}
		.profile-pricing-owner {
		    display: inline-block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/yoursWhite.png);
		    background-size: 60px 60px;
		    background-position: 50% 60%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    transition-duration: 1s;
		}
		.profile-pricing-service-provider {
		    display: inline-block;
		    width: 80px;
		    height: 80px;
		    background: $colour2;
		    -moz-border-radius: 40px;
		    -webkit-border-radius: 40px;
		    background-image: url(../img/spWhite.png);
		    background-size: 60px 60px;
		    background-position: 50% 50%;
		    background-repeat:no-repeat;   
		    margin: 0 auto;
		    border-style: solid;
		    border-width: 2px;
		    border-color: $colour2;
		    transition-duration: 1s;
		}
	}
	h1 {
		font-size: 2em;
		text-align: center;
		font-family: helveticaThin;
		color: $colour4;
		a {
		text-decoration: none;
		color: $colour4;
		}
	}
	h2 {
		font-size: 1.2em;
		text-align: center;
		font-family: helveticaThin;
		color: $colour4;
	}
	.set-up-question {
		padding-top: 10px;
	}
	.ok-btn {
		display: inline-block;
		margin-left: 5px;
	}
	.pricing-hr {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.form-heading {
		margin-bottom: 30px;
	}
	.circle-pricing {
		display: block;
	    width: 70px;
	    height: 70px;
	    background: $colour2;
	    -moz-border-radius: 35px;
	    -webkit-border-radius: 35px;
	   text-align: center;
	   line-height: 70px;
	   font-size: 40px;
	   color: #fff;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    font-family: helveticaThin;
	}
	.stop-calculator {
		background-color: #fff;
		height: 30px;
	}
	.inline-calculator {
		display: none;
	}	
	.calculator {
		width: 314.969px !important;
		background-color: $colour5;
		border: 1px solid $colour4;
    	border-radius: 25px;
    	.overview {
    		text-align: center;
    		i {
    			font-size: 3em;
    			color: $colour2;
    		}
    		p {
    			font-family: helveticaRegular;
    			font-size: 1.2em;
    			color: $colour4;
    		}
   		}
   		.overview-result {
   			text-align: center;
   			p {
   			font-family: helveticaRegular;
    		font-size: 1.2em;
    		color: $colour2;
   			}
   		}
    	.total-cost {
    		h1 { 
		    	color: $colour4;
		    	border-radius: 0 0 0 0;
		    	padding-top: 15px;
		    	padding-bottom: 15px;
		    	border-top-color: $colour2;
		    	margin-bottom: 0;
		    	font-size: 2em;
    		}
    		h2 {
		    	color: $colour4;
		    	border-radius: 0 0 0 0;
		    	padding-top: 15px;
		    	padding-bottom: 15px;
		    	margin-top: 0;
		    	font-size: 1.2em;
		    	margin-bottom: 0;
	    	}
    	}
	}
}
.calculator-small {
	padding-top: 5px;
	border-top: solid 2px $colour2;
	background-color: $colour4;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	z-index: 1;
	text-align: center;
	i {
		color: $colour2;
		font-size: 2em;
	}
	p {
		font-size: 1.2em;
		font-family: helveticaRegular;
		color: $colour2;
	}
	.output {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
}
form {
	label {
		display: block;
	}
	text-align: center;
	#sites, #feeds {
		//width: 20%;
		width: 100px;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#sites {
		display: inline-block;
	}
	#feeds {
		display: inline-block;
	}
	.customer {
		width: 40%;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
	}
	#submit-btn {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#submit-btn-service-provider {
		margin-top: 15px;
		margin-bottom: 60px;
	}
}

//ABOUT PAGE//
.top-banner-about {
	min-height: auto;
	background: url(../img/new-bg-3.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		h1 {
		   color: $colour4;
		   -webkit-text-fill-color: $colour4;
		   -webkit-text-stroke-width: 1.5px;
		   -webkit-text-stroke-color: #fff;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: $colour4;
			-webkit-text-fill-color: #fff;
		   -webkit-text-stroke-width: 0.25px;
		   -webkit-text-stroke-color: $colour4;
			font-family: helveticaLight;
			font-size: 2.2em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
	}
}
.about-page {
	padding-top: 40px;
	border-bottom: solid 1px $border;
	p {
		font-family: helveticaRegular;
	}
	h1 {
		font-size: 2em;
		text-align: center;
		font-family: helveticaLight;
		padding-bottom: 30px;
	}
	h2 {
		font-size: 1.8em;
		text-align: left;
		font-family: helveticaThin;
		color: #000;
		padding-bottom: 20px;
	}
	.about-us {
		padding-top: 50px;
	}
	.mission {
		font-size: 1.2em;
		text-align: center;
		font-family: helveticaLight;
		color: #fff;
		p {
			padding: 50px;
			background-color: $colour6;
			text-align: left;
			border-radius: 15px;
			position: relative;
			top: -40px;
		}
		.mission-circle {
			z-index: 1;
			display: block;
    		width: 90px;
    		height: 90px;
    		background: $colour5;
    		border-style: solid;
    		border-width: 3px;
    		-moz-border-radius: 45px;
    		-webkit-border-radius: 45px;
    		border-color: #fff;
   			text-align: center;
   			line-height: 85px;
   			margin: 0 auto;
    		position: relative;
    		top: 0px;
		    img {
				text-align: center;
			}
		}
	}
	.awards {
		padding-bottom: 20px;
		p {
			padding-top: 20px;
			text-align: center;
			font-weight: bolder;
		}
		.img-responsive {
			max-width: 200px;
			height: auto;
			margin: 0 auto;
		}
	}
	.team-pic {
		display: block;
		margin: 0 auto;
	    width: 100px;
	    height: 100px;
	    background: lightgrey;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	.team-pic-nic {
		display: block;
		margin: 0 auto;
	    width: 100px;
	    height: 100px;
	    background: lightgrey;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    background-image: url(../img/Nic_on_holiday.png);
	    background-size: 100px auto;
	    background-position: 50% 50%;
	    background-repeat:no-repeat;
	}
}
.the-team {
	background-color: $colour5;
	padding-bottom: 30px;
	p {
		text-align: center;
	}
	.team-copy {
		padding-left: 20px;
		padding-right: 20px;
		text-align: left;
	}
}
.about-cta {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #e3e3e3;
}
.top-banner-contact {
	min-height: auto;
	background: url(../img/new-bg-3.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		.contact-us {
			display: none;
		}
		h1 {
		   color: $colour4;
  			-webkit-text-fill-color: $colour4;
   			-webkit-text-stroke-width: 1.5px;
   			-webkit-text-stroke-color: #fff;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: $colour4;
			-webkit-text-fill-color: #fff;
		   	-webkit-text-stroke-width: 0.25px;
		  	 -webkit-text-stroke-color: $colour4;
			font-family: helveticaLight;
			font-size: 2.2em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
	}
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.contact-page {
	padding-top: 20px;
	padding-bottom: 20px;
	h1 {
		font-size: 2em;
		font-family: helveticaLight;
		color: $colour4;
		text-align: center;
	}
	h2 {
		font-size: 1.2em;
		text-align: left;
		font-family: helveticaRegular;
		color: $colour4;
		text-align: center;
	}
	p {
		font-size: 1em;
		font-family: helveticaLight;
		color: $colour4;
		text-align: center;
	}
	a {
		//text-decoration: none;
		//color: $colour4;
	}
}
.test1 {
	background-color: $colour2;
}
.test2 {
	background-color: $colour4;
}
.contact-page-background {
	background-color: $colour5;
	padding-bottom: 10px;
}
.circle-contact {
	display: block;
	margin: 0 auto;
    width: 60px;
    height: 60px;
    background: $colour4;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    img {
    	margin-top: 10px;
    }
}
.circle-contact-social {
	display: block;
	margin: 0 auto;
    width: 60px;
    height: 60px;
    background: $colour4;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    img {
    	margin-top: 10px;
    }
}
.follow {
	margin-top: 30px;
	margin-bottom: 30px;
}
.top-banner-blog {
	min-height: auto;
	background: url(../img/new-bg-3.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #fff;
  	padding-bottom: 20px;
  	padding-top: 40px;
  	border-bottom: solid 1px $border;
	.top-banner-inner-left {
		h1 {
		   color: $colour4;
		   -webkit-text-fill-color: $colour4;
		   -webkit-text-stroke-width: 1.5px;
		   -webkit-text-stroke-color: #fff;
			font-family: helveticaMedium;
			font-size: 4em;
			padding: 20px 20px 0 20px;
		}
		h2 {
			color: #fff;
			-webkit-text-fill-color: #fff;
		   	-webkit-text-stroke-width: 0.25px;
		   	-webkit-text-stroke-color: $colour4;
			font-family: helveticaLight;
			font-size: 2.2em;
			padding: 0 20px 0 20px;
			line-height: 40px;
		}
	}
}
.blog {
	//margin-top: 60px;
	.blog-main {
		padding-bottom: 60px;
		h1 {
			a {
				font-size: 1em;
				text-align: left;
				font-family: helveticaThin;
				color: $colour4;
				margin-bottom: 15px;
				text-decoration: none;
			}
		}
		span {
			font-family: helveticaThin;
		}
		.blog-post-top {
			padding-top: 60px;
		}
		.blog-post {
			padding-bottom: 0px;
			.who-post {
				.blog-circle {
				    width: 60px;
				    height: 60px;
				    -moz-border-radius: 30px;
				    -webkit-border-radius: 30px;
				    background-image: url(../img/Nic_on_holiday.png);
				    background-size: 60px auto;
				    background-position: 50% 50%;
				    background-repeat:no-repeat;
				    transition-duration: 1s;
				}
				p {
					margin: 0;
					margin-top: 9px;
					color: $colour4;
					font-family: helveticaRegular;
					padding-left: 5px;
				}
				span {
					margin: 0;
					color: $colour3;
					font-family: helveticaRegular;
					padding-left: 5px;
				}
			}
			p {
				color: $colour4;
				font-family: helveticaRegular;
			}
			img {
				margin-top: 10px;
				margin-bottom: 20px;
			}
			span {
				color: $colour3;
				font-family: helveticaRegular;
			}
			em {
				font-size: 1.2em;
				display: block;
			}
			.img-float-right {
				float: right;
				padding-left: 20px;
				padding-top: 0;
				margin-top: 0;
			}
			.img-float-left {
				float: left;
				padding-right: 20px;
				padding-top: 0;
				margin-top: 0;
			}
		}
	}
	.blog-side {
		text-align: right;
		h1 {
			font-size: 2em;
			font-family: helveticaThin;
			color: $colour4;
			margin-bottom: 15px;
			padding: 0;
		}
		p {
			color: $colour4;
			font-family: helveticaRegular;
			padding: 10px 0 0 0;
			margin: 0;
		}
		span {
			a {
				color: $colour3;
				font-family: helveticaRegular;
				text-decoration: underline;
			}
		}
	}
	.page-select-large {
		text-align: center;
		padding-top: 30px;
	}
	.page-select-small {
		display: none;
	}
}

//MEDIA QUERIES//////////////////////////////////////////////////////////
@media (max-width: 1200px) {
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				//width: 50%;
			}
			.customer {
				width: 70%;
			}
		}
	}
	.benefits-circle {
		display: block !important;
		margin-left: auto;
		margin-right: auto;
	}
	.features {
		.features-inner {
			h2 {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.profile-select {
		h1 {
			font-size: 1.2em !important;
		}
		h2 {
			padding: 0 30px 0 30px !important;
		}
		.line {
			display: none;
		}
	}
	.features { 
		.line {
			display: none;
		}
		.features-slider {
			display: none;
		}
		.features-inner {
			.one-platform-icon, .flexible-reporting-icon, .analytics-icon, .project-tracking-icon {
				cursor: default !important;
			}
			.one-platform-icon:hover {
				cursor: default !important;
		 		display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/onePlatform.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    		-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.flexible-reporting-icon:hover {
				cursor: default !important;
		 		display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/flexibleReporting.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    		-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.analytics-icon:hover {
				cursor: default !important;
				display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/analytics.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
			    -mox-box-shadow: 0px 0px 0px 0px $colour2;
			    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
			    box-shadow: 0px 0px 0px 0px $colour2;
			}
			.project-tracking-icon:hover {
				cursor: default !important;
		 		display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/projectTracking.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
			    -mox-box-shadow: 0px 0px 0px 0px $colour2;
			    -webkit-box-shadow: 0px 0px 0px 0px $colour2;
			    box-shadow: 0px 0px 0px 0px $colour2;
			}
			.one-platform-icon-selected {
			    display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/onePlatform.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.flexible-reporting-icon-selected {
	   	    	display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/flexibleReporting.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.analytics-icon-selected {
	   	    	display: block;
	    		width: 80px;
	    		height: 80px;
	    		background: $colour2;
	    		-moz-border-radius: 40px;
	    		-webkit-border-radius: 40px;
	    		background-image: url(../img/analytics.png);
	    		background-size: 45px 45px;
	    		background-position:50% 50%;
	    		background-repeat:no-repeat;
	    		margin: 0 auto;
	    		cursor: default !important;
	    		transition-duration: 1s;
	    	    -mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
			.project-tracking-icon-selected {
	    	    display: block;
			    width: 80px;
			    height: 80px;
			    background: $colour2;
			    -moz-border-radius: 40px;
			    -webkit-border-radius: 40px;
			    background-image: url(../img/projectTracking.png);
			    background-size: 45px 45px;
			    background-position:50% 50%;
			    background-repeat:no-repeat;
			    margin: 0 auto;
			    cursor: default !important;
			    transition-duration: 1s;
	    	   	-mox-box-shadow: 0px 0px 0px 0px $colour2;
    			-webkit-box-shadow: 0px 0px 0px 0px $colour2;
    			box-shadow: 0px 0px 0px 0px $colour2;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.customers {
		.customers-inner {
			.qoute {
				p {
				padding: 50px;
				}
				.circle {
				margin-bottom: 50px;
	    		top: 90px;
		    	}
			}
		}
	}
}

@media (max-width: 992px) {
	.customers-inner {
		.customer-logos {
			text-align: center;
		}
	}
	.top-banner {
		.top-banner-inner-left {
			text-align: center;
			h1 {
				text-align: left;
			}
			h2 {
				text-align: left;
			}
			.ghost-button {
	  			margin-right: 30px;
	  			margin-left: 30px;
			}
		}
	}
	footer {
		.footer-brand {
			text-align: center;
			.ed-logo {
				width: 400px;
			}
		}
		.footer-menu-links {
			padding: 0;
			padding-top: 20px;
			text-align: center;
			ul {
				list-style:none;
    			padding-left:0;
			}
		}
		.footer-contact {
			text-align: center;
			margin: 0;
			p {
				color: #558e28;
			}
			#phone {
				display: none;
			}
			#address {
				display: none;
			}
			#email {
				display: none;
			}
			#email-text {
				padding-top: 0px;
			}
		}
	}
}

@media (min-width: 550px) and (max-width: 991px) {
	.top-banner {
		.top-banner-inner-right {
			margin-top: 20px;
			.video-wrapper {
				position: relative;
				padding-bottom: 28.125%; /* 16:9 */
				padding-top: 25px;
				height: auto;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.video-wrapper iframe {
				position: absolute;
				top: 0;
				left: 0px;
				right: 0px;
				margin: 0 auto;
				max-width: 420px;
				max-height: 236px;
			}
		}
	}
}

@media (max-width: 991px) {
	.ideal {
		margin-top: 20px;
	}
	.map {
		margin-bottom: 15px;
	}
	.blog-side {
		text-align: left !important;
		padding-bottom: 40px !important;
	}
	.blog-main {
		padding-bottom: 20px !important;

	}
	footer {
		padding-top: 50px !important;
		.sub-footer {
			margin-top: 50px !important;
		}
	}
	.benefits {
		text-align: center;
		h1 {
			padding-left: 0 !important;
			display: block;
			text-align: center;
		}
		h2 {
			padding-bottom: 15px;
		}
		p {
			padding-bottom: 10px;
		}
		img {
			margin: 0 auto;
		}
		.benefits-inner {
			text-align: center;
			p {
				padding-left: 0;
			}
			i {
				display: block;
				text-indent: 0;
				top: 0;
				left: 0;

			}
		}
	}
}

@media (min-width: 461px) and (max-width: 991px) {
	.top-banner {
		padding-bottom: 20px !important;
		.top-banner-inner-right {
			margin-top: 0 !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.profiles {
		.profiles-inner {
			h1 {
				padding-bottom: 10px;
			}
			h2 {
				padding-left: 30px !important;
				padding-right: 30px !important;
			}
		}
	}
}

@media (max-width: 768px) {
	.navbar-sign-up {
		margin-left: 10px;
	}
	.navbar-log-in {
		margin-right: 0px;
		margin-left: 20px;
	}
	.profiles {
		.profiles-inner {
			h1 {
				padding-bottom: 10px;
			}
			h2 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	#bs-example-navbar-collapse-1 {
		background: #fff;
		overflow: scroll;
	}
	.navbar-collapse.collapse.in {
		ul {
			li {
				a {
					padding: 20px;
				}
			}
			.bottom-border {
				a {
					border-bottom: dotted 1.1px $border !important;
				}
			}
			.top-border {
				a {
					border-top: dotted 1.1px $border !important;
				}
			}
		}
	}
	.awards {
		.img-responsive {
			padding-top: 20px;
		}
	}
	.the-team {
		.team-copy {
			padding-left: 40px !important;
			padding-right: 40px !important;
		}
	}
	.calculator {
		display: none;
	}
	#pricingFooter {
		margin-bottom: 110px;
	}
	.pricing {
		form {
			#sites, #feeds {
				//width: 20% !important;
			}
		}
	}
}

@media (max-width: 750px) {
	.customers-inner {
		.qoute {
			.circle {
				top: 20px !important;
				margin-bottom: -20px !important;
			}
		}
		.customer-logos {
			img {
				width: 40px;
				height: auto;
			}
		}
	}
	footer {
		.ed-logo {
			width: 50% !important;
		}
	}
	.top-banner-inner-left {
		h1 {
			font-size: 3.5em !important;
		}
	}
}

@media (max-width: 600px) {
	.page-select-large {
		display: none;
	}
	.page-select-small {
		display: block !important;
		text-align: center;
		padding-top: 30px;
	}
}

@media (max-width: 650px) {
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				//width: 50%;
			}
			.customer {
				width: 60%;
			}
		}
	}
	.profile-pricing-owner {
		display: block !important;
	}
	.profile-pricing-service-provider {
		display: block !important;
	}
	.pricing-heading {
		text-align: center;
		h1 {
			padding: 0 !important;
			margin-bottom: 20px !important;
			margin-top: 20px !important;
			bottom: 0 !important;
		}
		hr {
			margin-top: 0 !important;
		}
	}
}

@media (max-width: 550px) {
	.profile-select {
		h1 {
			padding-bottom: 0 !important;
		}
		h2 {
			display: none;
		}
	}
}
@media (max-width: 500px) {
	.social {
		padding-bottom: 30px;
		.social-inner {
			margin: 0;
			padding: 0;
			h1{
				padding-top: 15px;
			}
			h2 {
				display: block;
				line-height: 20px;
				padding: 10px;
				margin: 0;
				border-radius: 10px;
			}
			h3 {
				padding: 10px;
				margin-top: 20px;
				border-radius: 10px;
			}
			.blog-1 {
				padding: 20px 20px 10px 20px;
				margin-bottom: 20px;
			}
			.blog-2 {
				padding: 20px 20px 10px 20px;
				margin-bottom: 0;
			}
		}
	}
	.blog {
		.blog-main {
			.blog-post {
				.img-float-right, .img-float-left {
					width: 100%;
				}
			}
		}
	}

}
@media (min-width:460px) {
	.log-in-collapse {
		display: none !important;
	}
	.sign-up-collapse {
		display: none !important;
	}
}
@media (max-width:460px) {
	.navbar-log-in {
		display: none;
	}
	.navbar-sign-up {
		display: none;
	}
	.sign-up-collapse {
		margin-right: 0px !important;
	}
}
@media (min-width:461px) and (max-width:767px) {
	.navbar-sign-up, .navbar-log-in {
		display: none;
	}
	.top-banner {
		padding-top: 30px;
		padding-bottom: 0px;
		h1 {
			margin-top: 30px !important;
			margin-bottom: 20px;
			padding: 0 !important;
		}
		h2 {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}

@media (max-width: 460px) {
	.top-banner {
		padding-top: 30px;
		padding-bottom: 0px;
		h1 {
			margin-top: 30px !important;
			margin-bottom: 20px;
			padding: 0 !important;
		}
		h2 {
			margin: 0 !important;
			padding: 0 !important;
		}
		.ghost-button {
			margin-bottom: 0 !important;
		}
		.top-banner-inner-right {
			margin-top: 0;
		}
		.video-wrapper {
			margin-top: 0px;
		}
	}
	.navbar-log-in-sm {
		display: none !important;
	}
	.navbar-sign-up-sm {
		display: none !important;
	}
	.profiles h1 {
		padding-top: 10px;
		padding-bottom: 0px;
	}
	.profiles-inner h1 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.profiles-inner h2 {
		padding-top: 5px !important;
	}
	.signUpTxt {
		display: none;
	}
	.profiles hr {
		margin-top: 40px;
	}
	.profiles {
		padding-bottom: 40px;
	}
	.features {
		padding-top: 0;
		padding-bottom: 30px;
		h1 {
			padding-top: 10px;
		}
	}
	.features-inner {
		h1 {
			font-size: 1.4em !important;
		}
	}
	.customers {
		padding-bottom: 30px;
		h1 {
			padding-top: 20px;
		}
	}
	.qoute p{
		padding: 50px 30px 30px 30px !important;
	}
	footer {
		padding-top: 30px;
		.social-icon {
			padding: 5px !important;
		}
		.sub-footer {
			margin-top: 30px;
			p {
				padding-bottom: 20px;
			}
		}
	}
}

@media (max-width: 445px) {
	.the-team {
		.team-copy {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}

@media (max-width: 400px) {
	.calculator-small {
		p {
			font-size: 1em !important;
		}
	}
	.pricing {
		form {
			text-align: center;
			#sites, #feeds {
				//width: 80% !important;
			}
			.customer {
				width: 80% !important;
			}
		}
	}
	.profile-select {
		padding-top: 70px !important;
		h1 {
			display: none;
		}
	}
	.top-banner-contact {
		.top-banner-inner-left {
			.contact-ed {
				display: none;
			}
			.contact-us {
				display: block;
			}
		}
	}
}

@media (max-width: 300px) {
	.profile-select {
		.profile-owner-solid {
			display: block;
			width: 50px;
			height: 50px;
			background: $colour2;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			background-image: url(../img/yourstest.png);
			background-size: 35px 35px;	 
			background-position:50% 50%;
			background-repeat:no-repeat;   
			margin: 0 auto;
			transition-duration: 1s;
		}
		.profile-owner-selected {
			display: block;
			width: 50px;
			height: 50px;
			background: $colour2;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			background-image: url(../img/yoursWhite.png);
			background-size: 35px 35px;	 
			background-position:50% 50%;
			background-repeat:no-repeat;   
			margin: 0 auto;
			transition-duration: 1s;
		}
		.profile-service-provider-solid {
			display: block;
			width: 50px;
			height: 50px;
			background: $colour2;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			background-image: url(../img/sptest.png);
			background-size: 35px 35px;
			background-position:50% 50%;
			background-repeat:no-repeat;   
			margin: 0 auto;
			border-style: solid;
			border-width: 2px;
			border-color: $colour2;
			transition-duration: 1s;

		}
		.profile-service-provider-selected {
			display: block;
			width: 50px;
			height: 50px;
			background: $colour2;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			background-image: url(../img/SPWhite.png);
			background-size: 35px 35px;
			background-position:50% 50%;
			background-repeat:no-repeat;   
			margin: 0 auto;
			border-style: solid;
			border-width: 2px;
			border-color: $colour2;
			transition-duration: 1s;
		}
	}
}

@media (max-width: 282px) {
	.social-icon {
		display: block;
	}
}

@media (max-width: 272px) {
	.EnergyDeck-logo {
		width: 100px;
		height: auto;
	}
	.navbar-brand {
		padding-top: 16px;
	}
	.calculator-small {
		display: none !important;
	}
	.pricing {
		form {
			.inline-calculator {
				margin-top: 50px;
				display: block;
				p {
					font-size: 1.2em;
					font-family: helveticaThin;
					color: $colour4;
				}
				i {
					color: $colour2;
					font-size: 2em;
				}
			}
		}
	}
}	

@media (max-width: 250px ) {
	.top-banner {
		.top-banner-inner-left {
			.ghost-button {
				margin: 25px 0 0 0;
			}
		}
	}
	.profiles {
		.profiles-inner {
			.ghost-button-go, .ghost-button-learn {
				padding: 10px;
				width: auto;
			}
		}
	}
}

@media (max-width: 245px) {
	.top-banner, .top-banner-about, .top-banner-contact, .top-banner-blog {
		.top-banner-inner-left {
			h1 {
		   		font-size: 2.5em !important;
			}
			h2 {
				font-size: 1.5em !important;
				line-height: normal;
			}
		}
	}
	.pricing {
		form {
			#sites, #feeds {
				width: 50px;
			}
		}
	}
}